@charset "UTF-8";
/*------------------------------------*\
    MAIN.CSS
\*------------------------------------*/
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 17, ../sass/frameworks/htmlbp/_base.scss */
html,
button,
input,
select,
textarea {
  color: #222; }

/* line 21, ../sass/frameworks/htmlbp/_base.scss */
body {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
/* line 32, ../sass/frameworks/htmlbp/_base.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

/* line 37, ../sass/frameworks/htmlbp/_base.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
/* line 46, ../sass/frameworks/htmlbp/_base.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
/* line 59, ../sass/frameworks/htmlbp/_base.scss */
img {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
/* line 67, ../sass/frameworks/htmlbp/_base.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
/* line 77, ../sass/frameworks/htmlbp/_base.scss */
textarea {
  resize: vertical; }

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
/* line 85, ../sass/frameworks/htmlbp/_base.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
/* line 120, ../sass/frameworks/htmlbp/_base.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

/* line 128, ../sass/frameworks/htmlbp/_base.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 139, ../sass/frameworks/htmlbp/_base.scss */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 148, ../sass/frameworks/htmlbp/_base.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 165, ../sass/frameworks/htmlbp/_base.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 178, ../sass/frameworks/htmlbp/_base.scss */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 195, ../sass/frameworks/htmlbp/_base.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

/* line 200, ../sass/frameworks/htmlbp/_base.scss */
.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 209, ../sass/frameworks/htmlbp/_base.scss */
.clearfix {
  *zoom: 1; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 234, ../sass/frameworks/htmlbp/_base.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  /* line 242, ../sass/frameworks/htmlbp/_base.scss */
  a,
  a:visited {
    text-decoration: underline; }

  /* line 246, ../sass/frameworks/htmlbp/_base.scss */
  a[href]:after {
    content: " (" attr(href) ")"; }

  /* line 250, ../sass/frameworks/htmlbp/_base.scss */
  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 260, ../sass/frameworks/htmlbp/_base.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  /* line 265, ../sass/frameworks/htmlbp/_base.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /* line 270, ../sass/frameworks/htmlbp/_base.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  /* line 275, ../sass/frameworks/htmlbp/_base.scss */
  tr,
  img {
    page-break-inside: avoid; }

  /* line 279, ../sass/frameworks/htmlbp/_base.scss */
  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  /* line 289, ../sass/frameworks/htmlbp/_base.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  /* line 295, ../sass/frameworks/htmlbp/_base.scss */
  h2,
  h3 {
    page-break-after: avoid; } }
/* normalize.css v2.0.1 | MIT License | git.io/normalize */
/* normalize.scss v2.0.1+build.2 | MIT/GPLv2 License | bit.ly/normalize-with-compass */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 62, ../sass/frameworks/htmlbp/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 72, ../sass/frameworks/htmlbp/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 85, ../sass/frameworks/htmlbp/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 7/8/9.
 * Known issue: no IE 6 support.
 */
/* line 95, ../sass/frameworks/htmlbp/_normalize.scss */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * 3. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 */
/* line 111, ../sass/frameworks/htmlbp/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  /* Establish a vertical rhythm unit using $base-line-height. */
  line-height: 1.5em; }

/**
 * Address `font-family` inconsistency between `textarea` and other form
 * elements in IE 6/7.
 */
/* line 129, ../sass/frameworks/htmlbp/_normalize.scss */
button,
input,
select,
textarea {
  font-family: sans-serif; }

/**
 * Remove default margin.
 */
/* line 138, ../sass/frameworks/htmlbp/_normalize.scss */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 150, ../sass/frameworks/htmlbp/_normalize.scss */
a:focus {
  outline: 0;
  /* added by mperrotti */ }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 159, ../sass/frameworks/htmlbp/_normalize.scss */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
/* line 172, ../sass/frameworks/htmlbp/_normalize.scss */
p,
pre {
  margin: 1.5em 0; }

/* line 176, ../sass/frameworks/htmlbp/_normalize.scss */
blockquote {
  /* Set 1 unit of vertical rhythm on the top and bottom margin. */
  margin: 1.5em 40px; }

/**
 * Address variable `h1` font size within `section` and `article` contexts in
 * Firefox 4+, Safari 5, and Chrome.
 */
/* line 186, ../sass/frameworks/htmlbp/_normalize.scss */
h1 {
  /* Set the font-size and line-height while keeping a proper vertical rhythm. */
  font-size: 2em;
  line-height: 1.5em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 0.75em;
  margin-bottom: 0.75em; }

/* line 195, ../sass/frameworks/htmlbp/_normalize.scss */
h2 {
  font-size: 1.5em;
  line-height: 2em;
  margin-top: 1em;
  margin-bottom: 1em; }

/* line 201, ../sass/frameworks/htmlbp/_normalize.scss */
h3 {
  font-size: 1.17em;
  line-height: 1.28205em;
  margin-top: 1.28205em;
  margin-bottom: 1.28205em; }

/* line 207, ../sass/frameworks/htmlbp/_normalize.scss */
h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em; }

/* line 213, ../sass/frameworks/htmlbp/_normalize.scss */
h5 {
  font-size: 0.83em;
  line-height: 1.80723em;
  margin-top: 1.80723em;
  margin-bottom: 1.80723em; }

/* line 219, ../sass/frameworks/htmlbp/_normalize.scss */
h6 {
  font-size: 0.67em;
  line-height: 2.23881em;
  margin-top: 2.23881em;
  margin-bottom: 2.23881em; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 229, ../sass/frameworks/htmlbp/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 238, ../sass/frameworks/htmlbp/_normalize.scss */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 246, ../sass/frameworks/htmlbp/_normalize.scss */
dfn {
  font-style: italic; }

/**
 * Address styling not present in IE 8/9.
 */
/* line 254, ../sass/frameworks/htmlbp/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 266, ../sass/frameworks/htmlbp/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
  line-height: 1.5em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 278, ../sass/frameworks/htmlbp/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/**
 * Set consistent quote types.
 */
/* line 288, ../sass/frameworks/htmlbp/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 296, ../sass/frameworks/htmlbp/_normalize.scss */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 305, ../sass/frameworks/htmlbp/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 312, ../sass/frameworks/htmlbp/_normalize.scss */
sup {
  top: -0.5em; }

/* line 316, ../sass/frameworks/htmlbp/_normalize.scss */
sub {
  bottom: -0.25em; }

/* ==========================================================================
   Lists
   ========================================================================== */
/**
 * Set 1 unit of vertical rhythm and a consistent indentation.
 */
/* line 331, ../sass/frameworks/htmlbp/_normalize.scss */
dl,
menu,
ol,
ul {
  list-style: none;
  margin: 1.5em 0;
  padding: 0; }

/* line 338, ../sass/frameworks/htmlbp/_normalize.scss */
dl {
  padding: 0; }

/**
 * Correct list images handled incorrectly in IE 7.
 */
/* line 352, ../sass/frameworks/htmlbp/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 366, ../sass/frameworks/htmlbp/_normalize.scss */
img {
  border: 0;
  /* Improve image quality when scaled in IE 7. */
  -ms-interpolation-mode: bicubic; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 378, ../sass/frameworks/htmlbp/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 390, ../sass/frameworks/htmlbp/_normalize.scss */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
/* line 403, ../sass/frameworks/htmlbp/_normalize.scss */
form {
  margin: 0; }

/**
 * Define consistent border, margin, and padding.
 */
/* line 412, ../sass/frameworks/htmlbp/_normalize.scss */
fieldset {
  border-color: #c0c0c0;
  margin: 0 2px;
  /* Apply borders and padding that keep the vertical rhythm. */
  border-top-style: solid;
  border-top-width: 0.0625em;
  padding-top: 0.4625em;
  border-bottom-style: solid;
  border-bottom-width: 0.0625em;
  padding-bottom: 0.9125em;
  border-left-style: solid;
  border-left-width: 0.0625em;
  padding-left: 0.875em;
  border-right-style: solid;
  border-right-width: 0.0625em;
  padding-right: 0.875em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
/* line 428, ../sass/frameworks/htmlbp/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 * 4. Improve appearance and consistency with IE 6/7.
 */
/* line 446, ../sass/frameworks/htmlbp/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
  vertical-align: baseline;
  /* 4 */
  *vertical-align: middle;
  /* 4 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 462, ../sass/frameworks/htmlbp/_normalize.scss */
button,
input {
  line-height: normal; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
/* line 479, ../sass/frameworks/htmlbp/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/* added by mperrotti */
/* line 488, ../sass/frameworks/htmlbp/_normalize.scss */
a {
  border: 0;
  outline: 0; }

/**
 * Re-set default cursor for disabled elements.
 */
/* line 498, ../sass/frameworks/htmlbp/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
/* line 510, ../sass/frameworks/htmlbp/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 525, ../sass/frameworks/htmlbp/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 536, ../sass/frameworks/htmlbp/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 545, ../sass/frameworks/htmlbp/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 555, ../sass/frameworks/htmlbp/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 568, ../sass/frameworks/htmlbp/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/*------------------------------------*\
    VARS
\*------------------------------------*/
/*------------------------------------*\
    MIXINS
\*------------------------------------*/
/*--------------------*\
  LAYOUT
\*--------------------*/
/*--------------------*\
  WIDTHS/COLUMNS
\*--------------------*/
/*--------------------*\
  TYPOGRAPHY
\*--------------------*/
/*--------------------*\
  BUTTONS
\*--------------------*/
/*--------------------*\
  MISC
\*--------------------*/
/*------------------------------------*\
    LAYOUT.CSS
\*------------------------------------*/
/* line 43, ../sass/_bits.scss */
.container {
  *zoom: 1;
  max-width: 71em;
  _width: 71em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto; }
  /* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .container:after {
    content: "";
    display: table;
    clear: both; }

/*--------------------*\
    NAVIGATION
\*--------------------*/
/* line 6, ../sass/partials/layout/_global.scss */
.main-nav {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  position: fixed;
  right: 0;
  width: 4em;
  z-index: 5; }
  /* line 15, ../sass/partials/layout/_global.scss */
  .main-nav ul {
    width: 100%;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
    height: 100%;
    margin: 0;
    position: relative;
    z-index: 2; }
    /* line 22, ../sass/partials/layout/_global.scss */
    .main-nav ul .main-nav--new-page {
      height: 100%;
      margin: -2em auto 0 auto;
      position: relative;
      width: 100%; }
      /* line 28, ../sass/partials/layout/_global.scss */
      .main-nav ul .main-nav--new-page a {
        display: block;
        height: 100%;
        line-height: 4em;
        margin: 0 auto;
        position: relative;
        z-index: 1; }
      /* line 37, ../sass/partials/layout/_global.scss */
      .main-nav ul .main-nav--new-page span {
        position: absolute;
        top: 50%;
        text-align: center;
        width: 100%; }
      /* line 46, ../sass/partials/layout/_global.scss */
      .show-page-home .main-nav ul .main-nav--new-page a[href="#home"] {
        display: none; }

/* line 56, ../sass/partials/layout/_global.scss */
.info-nav {
  position: fixed;
  z-index: 6; }
  /* line 60, ../sass/partials/layout/_global.scss */
  .info-nav ul {
    overflow: hidden;
    *zoom: 1;
    margin: 0; }
  /* line 62, ../sass/partials/layout/_global.scss */
  .info-nav .info-nav--more-info {
    display: block;
    height: 2em;
    margin: 1em 0 1em 0.5em;
    padding: 0.5em;
    position: relative;
    text-align: center;
    width: 2.5em; }
    /* line 71, ../sass/partials/layout/_global.scss */
    .show-contact .info-nav .info-nav--more-info, .show-about .info-nav .info-nav--more-info {
      float: left; }
    /* line 73, ../sass/partials/layout/_global.scss */
    .info-nav .info-nav--more-info a {
      -webkit-transition: margin-top 0.1s ease-in;
      -moz-transition: margin-top 0.1s ease-in;
      -o-transition: margin-top 0.1s ease-in;
      transition: margin-top 0.1s ease-in;
      text-indent: -119988px;
      overflow: hidden;
      text-align: left;
      display: block;
      height: 100%;
      width: 100%; }
      /* line 80, ../sass/partials/layout/_global.scss */
      .svg .info-nav .info-nav--more-info a {
        background: url(../img/iconsprite.svg) no-repeat -97px -7px; }
      /* line 81, ../sass/partials/layout/_global.scss */
      .no-svg .info-nav .info-nav--more-info a {
        background: url(../img/iconsprite.png) no-repeat -97px -7px; }
      /* line 83, ../sass/partials/layout/_global.scss */
      .info-nav .info-nav--more-info a[href="#aboutme"] {
        background-position: -142px -7px; }
        /* line 86, ../sass/partials/layout/_global.scss */
        .touch .info-nav .info-nav--more-info a[href="#aboutme"]:hover {
          background-position: -142px -60px; }
        /* line 87, ../sass/partials/layout/_global.scss */
        .show-about .info-nav .info-nav--more-info a[href="#aboutme"] {
          background-position: -142px -108px; }
      /* line 92, ../sass/partials/layout/_global.scss */
      .info-nav .info-nav--more-info a[href="#contactme"] .touch:hover {
        background-position: -97px -60px; }
      /* line 93, ../sass/partials/layout/_global.scss */
      .show-contact .info-nav .info-nav--more-info a[href="#contactme"] {
        background-position: -142px -108px; }
      /* line 97, ../sass/partials/layout/_global.scss */
      .show-about .info-nav .info-nav--more-info a, .show-contact .info-nav .info-nav--more-info a {
        margin-top: -1em; }

/* line 105, ../sass/partials/layout/_global.scss */
.toggle {
  padding: 1em;
  width: 100%; }

/* line 110, ../sass/partials/layout/_global.scss */
.page {
  background: #dee0dc;
  position: absolute;
  width: 100%;
  z-index: 1; }

/* line 118, ../sass/partials/layout/_global.scss */
.contactme,
.aboutme {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: -100%;
  margin-top: 2em;
  padding: 1em 0 1em 0;
  position: fixed;
  top: 2em;
  z-index: 6; }
  /* line 131, ../sass/partials/layout/_global.scss */
  .contactme p,
  .aboutme p {
    margin-top: 0; }

/* line 136, ../sass/partials/layout/_global.scss */
.show-about .aboutme {
  margin-left: 0;
  padding: 1em 2em 1em 1em; }

/* line 142, ../sass/partials/layout/_global.scss */
.show-contact .contactme {
  margin-left: 0;
  padding: 1em 2em 1em 1em; }

/*--------------------*\
    MQ - MOBILE
\*--------------------*/
@media (min-width: 0em) and (max-width: 40em) {
  /* line 37, ../sass/_bits.scss */
  .container {
    max-width: 35em; }

  /* line 153, ../sass/partials/layout/_global.scss */
  .main-nav {
    width: 2em; }

  /* line 157, ../sass/partials/layout/_global.scss */
  .page {
    z-index: 1; }

  /* line 159, ../sass/partials/layout/_global.scss */
  .container.grid-container {
    margin: 0;
    max-width: none;
    padding: 0;
    width: 100%; }

  /* line 163, ../sass/partials/layout/_global.scss */
  .info-nav .info-nav--more-info {
    margin: 1em 1em 1em 2em; } }
/*--------------------*\
    MQ - TABLET
\*--------------------*/
@media (min-width: 40.01em) and (max-width: 64em) {
  /* line 37, ../sass/_bits.scss */
  .container {
    max-width: 53em; }

  /* line 174, ../sass/partials/layout/_global.scss */
  .container.grid-container {
    margin: 0;
    max-width: none;
    padding: 0;
    width: 100%; } }
/*--------------------*\
    MQ - DESKTOP
\*--------------------*/
@media (min-width: 64.01em) {
  /* line 37, ../sass/_bits.scss */
  .container {
    max-width: 71em; }

  /* line 184, ../sass/partials/layout/_global.scss */
  .aboutme,
  .contactme {
    width: 32.39437%;
    float: right;
    margin-right: 0; } }
/*------------------------------------*\
    HOME
\*------------------------------------*/
/* line 4, ../sass/partials/layout/_home.scss */
.home {
  z-index: 2; }

/* line 8, ../sass/partials/layout/_home.scss */
.wide-intro {
  height: 100%;
  overflow: hidden;
  position: relative; }

/* line 14, ../sass/partials/layout/_home.scss */
.latest-social {
  width: 66.19718%;
  float: left;
  margin-right: 1.40845%;
  display: inline; }
  /* line 17, ../sass/partials/layout/_home.scss */
  .latest-social div {
    width: 49.29577%;
    float: left;
    margin-right: 1.40845%;
    display: inline; }
    /* line 20, ../sass/partials/layout/_home.scss */
    .latest-social div:nth-child(2n) {
      float: right;
      margin-right: 0;
      #margin-left: -1em;
      display: inline; }

/*--------------------*\
    MQ - MOBILE
\*--------------------*/
@media (min-width: 0em) and (max-width: 40em) {
  /* line 37, ../sass/_bits.scss */
  .container {
    max-width: 35em; } }
/*--------------------*\
    MQ - TABLET
\*--------------------*/
@media (min-width: 40.01em) and (max-width: 64em) {
  /* line 37, ../sass/_bits.scss */
  .container {
    max-width: 53em; } }
/*--------------------*\
    MQ - DESKTOP
\*--------------------*/
@media (min-width: 64.01em) {
  /* line 37, ../sass/_bits.scss */
  .container {
    max-width: 71em; } }
/*------------------------------------*\
    WORK
\*------------------------------------*/
/* line 4, ../sass/partials/layout/_work.scss */
.grid {
  overflow: hidden;
  *zoom: 1;
  position: relative; }
  /* line 8, ../sass/partials/layout/_work.scss */
  .grid .grid-item {
    width: 32.39437%;
    float: left;
    margin-right: 1.40845%;
    display: inline; }
    /* line 11, ../sass/partials/layout/_work.scss */
    .grid .grid-item:nth-child(3n) {
      float: right;
      margin-right: 0;
      #margin-left: -1em;
      display: inline; }
    /* line 12, ../sass/partials/layout/_work.scss */
    .grid .grid-item:last-child {
      float: left; }
    /* line 14, ../sass/partials/layout/_work.scss */
    .grid .grid-item img {
      width: 100%;
      float: right;
      margin-right: 0;
      #margin-left: -1em;
      display: inline; }

/* line 19, ../sass/partials/layout/_work.scss */
.work {
  top: 100px; }

/* line 21, ../sass/partials/layout/_work.scss */
.expanded-Proj-Nav {
  display: none;
  position: fixed;
  right: -1em;
  top: 25%; }
  /* line 26, ../sass/partials/layout/_work.scss */
  .expanded-Proj-Nav[href="#next-proj"] {
    margin-top: -2em; }
  /* line 29, ../sass/partials/layout/_work.scss */
  .expanded-Proj-Nav[href="#prev-proj"] {
    margin-top: 2em; }
  /* line 32, ../sass/partials/layout/_work.scss */
  .is-expanded-view-single .expanded-Proj-Nav {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline; }

/* line 35, ../sass/partials/layout/_work.scss */
.expanded-Proj-Info {
  height: 1em;
  padding: 1em;
  position: absolute;
  right: -1.5em;
  top: 80px;
  width: 1em;
  z-index: 999; }

/* line 45, ../sass/partials/layout/_work.scss */
.project-view {
  height: 70px;
  left: 50%;
  margin-left: -47px;
  overflow: hidden;
  position: fixed;
  top: 60px; }
  /* line 53, ../sass/partials/layout/_work.scss */
  .project-view .toggle-project-view {
    color: transparent;
    float: right;
    height: 47px;
    margin-top: 2px;
    text-indent: -999em;
    width: 47px; }

/*--------------------*\
    MQ - MOBILE
\*--------------------*/
@media (min-width: 0em) and (max-width: 40em) {
  /* line 37, ../sass/_bits.scss */
  .container {
    max-width: 35em; }

  /* line 68, ../sass/partials/layout/_work.scss */
  .work {
    top: 180px; }

  /* line 69, ../sass/partials/layout/_work.scss */
  .project-view {
    top: 100px; }

  /* line 70, ../sass/partials/layout/_work.scss */
  .is-expanded-view-single .expanded-Proj-Nav {
    display: none; } }
/*--------------------*\
    MQ - DESKTOP
\*--------------------*/
@media (min-width: 64.01em) {
  /* line 37, ../sass/_bits.scss */
  .container {
    max-width: 71em; }

  /* line 80, ../sass/partials/layout/_work.scss */
  .expanded-Proj-Info {
    z-index: 4; }
    /* line 82, ../sass/partials/layout/_work.scss */
    .is-expanded-view-single .expanded-Proj-Info {
      display: none; } }
/*------------------------------------*\
    WORK
\*------------------------------------*/
/* line 4, ../sass/partials/layout/_grid.scss */
.grid {
  overflow: hidden;
  *zoom: 1;
  position: relative; }
  /* line 7, ../sass/partials/layout/_grid.scss */
  .grid .toggle {
    width: 7.04225%;
    display: block;
    min-width: 50px;
    z-index: 999;
    position: absolute;
    right: 0; }

/* line 12, ../sass/partials/layout/_grid.scss */
.grid-item {
  width: 32.39437%;
  float: left;
  margin-right: 1.40845%;
  display: inline;
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 1em; }
  /* line 15, ../sass/partials/layout/_grid.scss */
  .grid-item:nth-child(3n) {
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline; }
  /* line 18, ../sass/partials/layout/_grid.scss */
  .grid-item img {
    width: 100%;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline; }
  /* line 22, ../sass/partials/layout/_grid.scss */
  .grid-item .grid-item__expanded-content {
    overflow: hidden;
    *zoom: 1; }

/* line 28, ../sass/partials/layout/_grid.scss */
.grid-item__images {
  overflow: hidden; }

/*--------------------*\
    MQ - MOBILE
\*--------------------*/
@media (min-width: 0em) and (max-width: 40em) {
  /* line 37, ../sass/_bits.scss */
  .container {
    max-width: 35em; }

  /* line 36, ../sass/partials/layout/_grid.scss */
  .grid .grid-item {
    width: 100%;
    float: right;
    margin-right: 0; }
    /* line 41, ../sass/partials/layout/_grid.scss */
    .show-grid-item__info .grid .grid-item.is-expanded .grid-item__images {
      width: 100%;
      float: right;
      margin-right: 0; }
    /* line 43, ../sass/partials/layout/_grid.scss */
    .grid .grid-item.is-expanded .grid-item__images li:first-child {
      width: 100%;
      float: right;
      margin-right: 0; }
    /* line 49, ../sass/partials/layout/_grid.scss */
    .grid .grid-item.is-thumb {
      margin-bottom: 0.5em;
      margin-top: 0.5em; }
      /* line 52, ../sass/partials/layout/_grid.scss */
      .grid .grid-item.is-thumb img {
        width: 48.57143%;
        float: left;
        margin-right: 2.85714%;
        float: left;
        margin-right: 1em; } }
/*--------------------*\
    MQ - DESKTOP
\*--------------------*/
@media (min-width: 64.01em) {
  /* line 37, ../sass/_bits.scss */
  .container {
    max-width: 71em; } }
/* line 1, ../sass/partials/modules/_global.scss */
body {
  -webkit-transition: opacity 0.5s ease-out, background 0.5s ease-in;
  -moz-transition: opacity 0.5s ease-out, background 0.5s ease-in;
  -o-transition: opacity 0.5s ease-out, background 0.5s ease-in;
  transition: opacity 0.5s ease-out, background 0.5s ease-in;
  background: #dee0dc; }

/* line 6, ../sass/partials/modules/_global.scss */
.show-page-none {
  opacity: 0; }
  /* line 10, ../sass/partials/modules/_global.scss */
  .show-page-none nav,
  .show-page-none .home {
    display: none; }

/* line 15, ../sass/partials/modules/_global.scss */
img {
  background: url("../img/hover-pattern.png") #27ec9e; }

/* line 19, ../sass/partials/modules/_global.scss */
.page {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

/* line 21, ../sass/partials/modules/_global.scss */
.toggle {
  width: 7.04225%;
  display: block;
  min-width: 50px;
  z-index: 999; }

/* line 25, ../sass/partials/modules/_global.scss */
.main-nav {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background: #27ec9e; }
  /* line 29, ../sass/partials/modules/_global.scss */
  .main-nav span {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg); }

/* line 36, ../sass/partials/modules/_global.scss */
.aboutme,
.contactme {
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  background: url("../img/hover-pattern.png") #27ec9e; }
  /* line 40, ../sass/partials/modules/_global.scss */
  .aboutme:before,
  .contactme:before {
    -webkit-transform: translateX(0) translateY(0);
    -moz-transform: translateX(0) translateY(0);
    -ms-transform: translateX(0) translateY(0);
    -o-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
    background: white;
    bottom: 10px;
    content: ' ';
    display: block;
    opacity: 1;
    height: 100%;
    position: absolute;
    right: 10px;
    width: 100%;
    z-index: -1; }

@media (min-width: 0em) and (max-width: 40em) {
  /* line 37, ../sass/_bits.scss */
  .container {
    max-width: 35em; }

  /* line 60, ../sass/partials/modules/_global.scss */
  .show-page-work nav.main-nav {
    background: transparent; }
    /* line 63, ../sass/partials/modules/_global.scss */
    .show-page-work nav.main-nav span {
      background: #141826;
      display: block;
      padding: .25em;
      width: auto; } }
/* line 5, ../sass/partials/modules/_home.scss */
.show-page-none .home {
  background: #141826; }

/* line 10, ../sass/partials/modules/_home.scss */
.home {
  background: #141826; }

/* line 14, ../sass/partials/modules/_home.scss */
.logo {
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg);
  height: 12em;
  margin: 0 auto;
  position: relative;
  padding: 6em 5em 8em 6em;
  top: 10%;
  width: 15em; }
  /* line 25, ../sass/partials/modules/_home.scss */
  .logo .stroke {
    -webkit-transform: skew(-20deg, 0);
    -moz-transform: skew(-20deg, 0);
    -ms-transform: skew(-20deg, 0);
    -o-transform: skew(-20deg, 0);
    transform: skew(-20deg, 0);
    background: #27ec9e;
    display: inline-block;
    height: 7em;
    margin: 2em 0 0 1.25em;
    padding-top: 3em;
    position: relative;
    width: 3em;
    z-index: -1; }
    /* line 36, ../sass/partials/modules/_home.scss */
    .logo .stroke:before {
      -webkit-transform: skew(55deg, 0);
      -moz-transform: skew(55deg, 0);
      -ms-transform: skew(55deg, 0);
      -o-transform: skew(55deg, 0);
      transform: skew(55deg, 0);
      background: #27ec9e;
      border-radius: 0 0 .25em 0;
      content: ' ';
      display: inline-block;
      height: 2.05em;
      left: -1.4em;
      position: absolute;
      top: -1.95em;
      width: 3.1em; }
    /* line 48, ../sass/partials/modules/_home.scss */
    .logo .stroke:first-child {
      margin-left: .75em; }
  /* line 54, ../sass/partials/modules/_home.scss */
  .logo .stroke-chop {
    left: .45em;
    padding-top: 0;
    top: -3em;
    z-index: 0; }
  /* line 61, ../sass/partials/modules/_home.scss */
  .logo header {
    left: 50%;
    line-height: .5;
    margin-left: -85%;
    position: absolute;
    text-align: center;
    top: 3.25em;
    width: 170%;
    z-index: 0; }

@media (min-width: 0em) and (max-width: 40em) {
  /* line 37, ../sass/_bits.scss */
  .container {
    max-width: 35em; }

  /* line 77, ../sass/partials/modules/_home.scss */
  .wide-intro header {
    display: none; }

  /* line 81, ../sass/partials/modules/_home.scss */
  .logo {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    transform: rotate(-20deg);
    border: .25em solid white;
    border-radius: 999em;
    height: 7em;
    margin: 0 auto;
    position: relative;
    padding: 3.25em 4em 4.25em 3em;
    top: 10%;
    width: 7.5em; }
    /* line 93, ../sass/partials/modules/_home.scss */
    .logo .stroke {
      height: 4em;
      margin: 1.25em 0 0 0.5em;
      padding-top: 2em;
      width: 1.75em; }
      /* line 98, ../sass/partials/modules/_home.scss */
      .logo .stroke:before {
        height: 1em;
        left: -0.75em;
        position: absolute;
        top: -0.9em;
        width: 1.95em; }
      /* line 105, ../sass/partials/modules/_home.scss */
      .logo .stroke:first-child {
        margin-left: .75em; }
    /* line 111, ../sass/partials/modules/_home.scss */
    .logo .stroke-chop {
      left: .45em;
      padding-top: 0;
      top: -2em; } }
/* line 1, ../sass/partials/modules/_work.scss */
.grid-item {
  -webkit-transition: width 0.35s ease-in-out, height 0.35s ease-in-out;
  -moz-transition: width 0.35s ease-in-out, height 0.35s ease-in-out;
  -o-transition: width 0.35s ease-in-out, height 0.35s ease-in-out;
  transition: width 0.35s ease-in-out, height 0.35s ease-in-out; }

/* line 6, ../sass/partials/modules/_work.scss */
.grid-item__expanded-content,
.toggle {
  -webkit-transition: width 0.35s ease-in-out, height 0.35s ease-in-out;
  -moz-transition: width 0.35s ease-in-out, height 0.35s ease-in-out;
  -o-transition: width 0.35s ease-in-out, height 0.35s ease-in-out;
  transition: width 0.35s ease-in-out, height 0.35s ease-in-out;
  height: 100%; }

/* line 11, ../sass/partials/modules/_work.scss */
.close-project {
  color: #27ec9e;
  font-size: .5em;
  position: absolute;
  right: 0;
  padding-right: 0px;
  padding: 1em;
  padding-left: 25px;
  line-height: 2.5em;
  z-index: 6; }
  /* line 22, ../sass/partials/modules/_work.scss */
  .close-project:before {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    content: '';
    height: 50px;
    position: absolute;
    top: 1em;
    width: 50px;
    left: 0px; }
    /* line 31, ../sass/partials/modules/_work.scss */
    .svg .close-project:before {
      background: url(../img/iconsprite.svg) -187px 20px no-repeat transparent; }
    /* line 32, ../sass/partials/modules/_work.scss */
    .no-svg .close-project:before {
      background: url(../img/iconsprite.png) -187px 20px no-repeat transparent; }

/* line 38, ../sass/partials/modules/_work.scss */
.expanded-Proj-Nav {
  height: 2em;
  padding: 12px;
  right: .5em;
  text-indent: -9999em;
  width: 2em;
  z-index: 2; }
  /* line 46, ../sass/partials/modules/_work.scss */
  .svg .expanded-Proj-Nav {
    background: url("../img/iconsprite.svg"); }
  /* line 47, ../sass/partials/modules/_work.scss */
  .no-svg .expanded-Proj-Nav {
    background: url("../img/iconsprite.png"); }
  /* line 49, ../sass/partials/modules/_work.scss */
  .expanded-Proj-Nav[href="#next-proj"] {
    background-position: -274px 0; }
    /* line 51, ../sass/partials/modules/_work.scss */
    .expanded-Proj-Nav[href="#next-proj"]:hover {
      background-position: -274px -58px; }
  /* line 54, ../sass/partials/modules/_work.scss */
  .expanded-Proj-Nav[href="#prev-proj"] {
    background-position: -333px 0; }
    /* line 56, ../sass/partials/modules/_work.scss */
    .expanded-Proj-Nav[href="#prev-proj"]:hover {
      background-position: -333px -58px; }

/* line 61, ../sass/partials/modules/_work.scss */
.expanded-Proj-Info {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #dee0dc;
  border-left: 1px solid #ebecea;
  border-bottom: 1px solid #ebecea;
  color: #141826; }
  /* line 68, ../sass/partials/modules/_work.scss */
  .csstransforms .expanded-Proj-Info {
    border-radius: 0 999px 0 0; }
  /* line 72, ../sass/partials/modules/_work.scss */
  .expanded-Proj-Info:hover {
    border-left: 1px solid white;
    border-bottom: 1px solid white; }
  /* line 77, ../sass/partials/modules/_work.scss */
  .expanded-Proj-Info:before {
    content: '+';
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    display: block; }
  /* line 85, ../sass/partials/modules/_work.scss */
  .show-grid-item__info .expanded-Proj-Info:before {
    -webkit-transform: rotate(0deg) translateX(-5px);
    -moz-transform: rotate(0deg) translateX(-5px);
    -ms-transform: rotate(0deg) translateX(-5px);
    -o-transform: rotate(0deg) translateX(-5px);
    transform: rotate(0deg) translateX(-5px); }

/* line 93, ../sass/partials/modules/_work.scss */
.indicators {
  margin: 0 auto;
  position: relative;
  top: -1.5em;
  z-index: 9; }
  /* line 99, ../sass/partials/modules/_work.scss */
  .indicators span {
    background: rgba(235, 235, 235, 0.5);
    border: none;
    border-radius: 999em;
    display: inline-block;
    height: 5px;
    margin: 0 2px;
    width: 5px; }
    /* line 107, ../sass/partials/modules/_work.scss */
    .indicators span.current {
      background: #ebebeb;
      border: 1px solid white; }

/* line 118, ../sass/partials/modules/_work.scss */
.svg .toggle-project-view {
  background: url(../img/iconsprite.svg) no-repeat; }
/* line 119, ../sass/partials/modules/_work.scss */
.no-svg .toggle-project-view {
  background: url(../img/iconsprite.png) no-repeat; }
/* line 121, ../sass/partials/modules/_work.scss */
.toggle-project-view[href="#all-projects"] {
  background-position: 0 0; }
  /* line 124, ../sass/partials/modules/_work.scss */
  .toggle-project-view[href="#all-projects"]:hover, .is-expanded-view .toggle-project-view[href="#all-projects"] {
    background-position: 0 -54px; }
/* line 128, ../sass/partials/modules/_work.scss */
.toggle-project-view[href="#collapse-projects"] {
  background-position: -46.5px -53.5px; }
  /* line 131, ../sass/partials/modules/_work.scss */
  .is-expanded-view .toggle-project-view[href="#collapse-projects"] {
    background-position: -46.5px 0px; }
  /* line 132, ../sass/partials/modules/_work.scss */
  .toggle-project-view[href="#collapse-projects"]:hover {
    background-position: -46.5px -53.5px; }

/* line 138, ../sass/partials/modules/_work.scss */
.is-thumb {
  background: #dee0dc;
  border-radius: 5px;
  border: 1px solid transparent;
  overflow: visible;
  position: relative; }
  /* line 145, ../sass/partials/modules/_work.scss */
  .is-thumb:before {
    -webkit-transform: translateX(0) translateY(0);
    -moz-transform: translateX(0) translateY(0);
    -ms-transform: translateX(0) translateY(0);
    -o-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
    background: url("../img/hover-pattern.png") #27ec9e;
    border-radius: 0 0 11px 0;
    bottom: 0;
    content: ' ';
    display: block;
    opacity: 0;
    height: 100%;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: -1; }
  /* line 160, ../sass/partials/modules/_work.scss */
  .is-thumb img {
    -webkit-box-shadow: #b8bcb4 2px 2px 5px;
    -moz-box-shadow: #b8bcb4 2px 2px 5px;
    box-shadow: #b8bcb4 2px 2px 5px;
    background: #dee0dc;
    border-radius: 2px; }

/*--------------------*\
    MQ - MOBILE
\*--------------------*/
@media (min-width: 0em) and (max-width: 40em) {
  /* line 37, ../sass/_bits.scss */
  .container {
    max-width: 35em; } }
/*--------------------*\
    MQ - DESKTOP
\*--------------------*/
@media (min-width: 64.01em) {
  /* line 37, ../sass/_bits.scss */
  .container {
    max-width: 71em; }

  /* line 180, ../sass/partials/modules/_work.scss */
  .grid {
    padding: 10px; } }
/*------------------------------------*\
    STATES.CSS
\*------------------------------------*/
/*--------------------*\
    GLOBAL
\*--------------------*/
/* line 6, ../sass/partials/states/_global.scss */
.show-page-home .home {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0); }
/* line 7, ../sass/partials/states/_global.scss */
.show-page-home .work {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  width: 0;
  overflow: hidden; }

/* line 11, ../sass/partials/states/_global.scss */
.show-page-work {
  overflow: visible; }
  /* line 14, ../sass/partials/states/_global.scss */
  .show-page-work .home {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%); }
  /* line 16, ../sass/partials/states/_global.scss */
  .show-page-work .main-nav {
    background: #141826;
    color: #dee0dc; }
    /* line 20, ../sass/partials/states/_global.scss */
    .show-page-work .main-nav span {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg); }

/*------------------------------------*\
    GRID
\*------------------------------------*/
/*--------------------*\
  THUMB (details on hover)
\*--------------------*/
/* line 8, ../sass/partials/states/_grid.scss */
.grid-item.is-thumb {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  padding: 1em;
  position: relative; }
  /* line 16, ../sass/partials/states/_grid.scss */
  .grid-item.is-thumb .grid-item__info {
    display: block;
    position: relative;
    top: 1em;
    width: 100%; }
  /* line 24, ../sass/partials/states/_grid.scss */
  .grid-item.is-thumb .grid-item__images,
  .grid-item.is-thumb .grid-item__expanded-content .grid-item__info {
    opacity: 0; }
  /* line 27, ../sass/partials/states/_grid.scss */
  .grid-item.is-thumb .grid-item__expanded-content,
  .grid-item.is-thumb .toggle {
    opacity: 0;
    max-height: 0;
    max-width: 0; }

/* line 37, ../sass/partials/states/_grid.scss */
.no-touch .is-thumb:hover {
  background: white;
  color: #27ec9e;
  left: -3px;
  top: -3px; }
  /* line 43, ../sass/partials/states/_grid.scss */
  .no-touch .is-thumb:hover:before {
    -webkit-transform: translateX(10px) translateY(10px);
    -moz-transform: translateX(10px) translateY(10px);
    -ms-transform: translateX(10px) translateY(10px);
    -o-transform: translateX(10px) translateY(10px);
    transform: translateX(10px) translateY(10px);
    opacity: 1; }
  /* line 48, ../sass/partials/states/_grid.scss */
  .no-touch .is-thumb:hover img {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

/*--------------------*\
  EXPANDED
\*--------------------*/
/* line 56, ../sass/partials/states/_grid.scss */
.grid-item.is-expanded {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
  float: left;
  clear: both;
  cursor: default;
  margin-bottom: 4em;
  margin-right: 100%;
  position: relative; }
  /* line 66, ../sass/partials/states/_grid.scss */
  .grid-item.is-expanded .grid-item__images,
  .grid-item.is-expanded .grid-item__info {
    -webkit-transition: width 0.15s ease-in-out, margin-right 0.15s ease-in-out, opacity 1s ease;
    -moz-transition: width 0.15s ease-in-out, margin-right 0.15s ease-in-out, opacity 1s ease;
    -o-transition: width 0.15s ease-in-out, margin-right 0.15s ease-in-out, opacity 1s ease;
    transition: width 0.15s ease-in-out, margin-right 0.15s ease-in-out, opacity 1s ease; }
  /* line 69, ../sass/partials/states/_grid.scss */
  .grid-item.is-expanded .toggle,
  .grid-item.is-expanded .grid-item__expanded-content {
    opacity: 1;
    max-height: 100%;
    max-width: 100%; }
  /* line 75, ../sass/partials/states/_grid.scss */
  .grid-item.is-expanded .expanded-Proj-Info {
    -webkit-transition: margin-right 0.15s ease-in-out;
    -moz-transition: margin-right 0.15s ease-in-out;
    -o-transition: margin-right 0.15s ease-in-out;
    transition: margin-right 0.15s ease-in-out; }
  /* line 77, ../sass/partials/states/_grid.scss */
  .grid-item.is-expanded .grid-item__info {
    width: 32.39437%;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
    margin-right: -100%;
    position: absolute;
    right: 0;
    z-index: 5; }
    /* line 84, ../sass/partials/states/_grid.scss */
    .show-grid-item__info .grid-item.is-expanded .grid-item__info {
      margin-right: 0; }
  /* line 87, ../sass/partials/states/_grid.scss */
  .grid-item.is-expanded .grid-item__images {
    width: 100%;
    float: right;
    margin-right: 0;
    #margin-left: -1em;
    display: inline;
    float: left;
    margin-right: 1.40845%;
    #margin-left: auto;
    overflow: hidden;
    *zoom: 1;
    margin-top: 0;
    margin-right: 0; }
    /* line 94, ../sass/partials/states/_grid.scss */
    .grid-item.is-expanded .grid-item__images img {
      width: 100%;
      float: right;
      margin-right: 0;
      #margin-left: -1em;
      display: inline;
      margin-bottom: 1em; }
  /* line 102, ../sass/partials/states/_grid.scss */
  .grid-item.is-expanded > img, .grid-item.is-expanded > .grid-item__info {
    display: none !important; }

/*--------------------*\
  MQ - MOBILE
\*--------------------*/
@media (min-width: 40.01em) and (max-width: 64em) {
  /* line 37, ../sass/_bits.scss */
  .container {
    max-width: 53em; }

  /* line 114, ../sass/partials/states/_grid.scss */
  .show-grid-item__info .grid-item.is-expanded .grid-item__info {
    width: 100%;
    float: right;
    margin-right: 0; } }
/*--------------------*\
    MQ - MOBILE
\*--------------------*/
@media (min-width: 0em) and (max-width: 40em) {
  /* line 37, ../sass/_bits.scss */
  .container {
    max-width: 35em; }

  /* line 128, ../sass/partials/states/_grid.scss */
  .show-grid-item__info .grid-item.is-expanded .grid-item__info, .show-grid-item__info
  .grid-item.is-expanded .grid-item__images {
    width: 100%;
    float: right;
    margin-right: 0; }
  /* line 131, ../sass/partials/states/_grid.scss */
  .grid-item.is-expanded .grid-item__info {
    padding: 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(235, 235, 235, 0.75);
    max-height: 100%;
    overflow: scroll; }
  /* line 140, ../sass/partials/states/_grid.scss */
  .grid-item.is-expanded .grid-item__images li:first-child {
    width: 100%;
    float: right;
    margin-right: 0; } }
/*--------------------*\
    MQ - DESKTOP
\*--------------------*/
@media (min-width: 64.01em) {
  /* line 37, ../sass/_bits.scss */
  .container {
    max-width: 71em; }

  /* line 157, ../sass/partials/states/_grid.scss */
  .show-grid-item__info .grid-item.is-expanded .grid-item__images {
    width: 66.19718%;
    float: left;
    margin-right: 1.40845%; }
  /* line 160, ../sass/partials/states/_grid.scss */
  .show-grid-item__info .grid-item.is-expanded .expanded-Proj-Info {
    margin-right: 33.80282%; } }
@media (min-width: 0em) and (max-width: 40em) {
  /* line 37, ../sass/_bits.scss */
  .container {
    max-width: 35em; }

  /* line 167, ../sass/partials/states/_grid.scss */
  .grid-item.is-thumb .grid-item__info {
    top: 0; } }
/* line 1, ../sass/partials/states/_work.scss */
.expanded-Proj-Info {
  display: none; }
  /* line 4, ../sass/partials/states/_work.scss */
  .is-expanded .expanded-Proj-Info {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline; }

/* line 7, ../sass/partials/states/_work.scss */
.project-view {
  display: none; }
  /* line 10, ../sass/partials/states/_work.scss */
  .show-page-work .project-view {
    display: block; }

/* line 13, ../sass/partials/states/_work.scss */
.close-project {
  display: none; }
  /* line 16, ../sass/partials/states/_work.scss */
  .is-expanded-view-single .close-project {
    display: block; }

/* line 22, ../sass/partials/states/_work.scss */
.ps-inited .gallery-container {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  position: relative;
  overflow: hidden; }
  /* line 27, ../sass/partials/states/_work.scss */
  .ps-inited .gallery-container img {
    display: none !important; }

@media (min-width: 40.01em) and (max-width: 64em) {
  /* line 37, ../sass/_bits.scss */
  .container {
    max-width: 53em; }

  /* line 37, ../sass/partials/states/_work.scss */
  .touch .gallery-container {
    height: 500px;
    opacity: 0;
    width: 100%; }
    /* line 42, ../sass/partials/states/_work.scss */
    .touch .gallery-container > img {
      display: none !important;
      height: 0;
      visibility: hidden; } }
/*------------------------------------*\
    GLOBAL
\*------------------------------------*/
/* line 4, ../sass/partials/_typography.scss */
html {
  font-size: 100%; }

/* line 6, ../sass/partials/_typography.scss */
body {
  color: #262d47;
  font-family: "Karla", sans-serif;
  font-size: 100%; }

/* line 13, ../sass/partials/_typography.scss */
h1 {
  font-size: 7.686em;
  font-size: 7.686rem;
  line-height: 6.854em;
  line-height: 6.854rem;
  font-weight: 700; }

/* line 21, ../sass/partials/_typography.scss */
h2 {
  font-size: 4.236em;
  font-size: 4.236rem;
  line-height: 6.854em;
  line-height: 6.854rem; }

/* line 28, ../sass/partials/_typography.scss */
h3 {
  font-size: 1.618em;
  font-size: 1.618rem;
  line-height: 2.618em;
  line-height: 2.618rem; }

/* line 35, ../sass/partials/_typography.scss */
h4, p {
  font-size: 1em;
  font-size: 1rem;
  line-height: 1.618em;
  line-height: 1.618rem;
  margin-top: 0; }

/* line 43, ../sass/partials/_typography.scss */
p {
  font-family: "Karla", sans-serif; }

/* line 48, ../sass/partials/_typography.scss */
h1, h2, h3,
h4, h5, h6 {
  font-family: "Karla", sans-serif; }

/* line 50, ../sass/partials/_typography.scss */
h3, h4, h5, h6 {
  font-weight: normal; }

/* line 53, ../sass/partials/_typography.scss */
nav li a {
  text-align: center; }

/* line 56, ../sass/partials/_typography.scss */
a {
  text-decoration: none; }

/* line 60, ../sass/partials/_typography.scss */
.toggle, .toggle-nav {
  text-align: center; }

/*------------------------------------*\
    HOME
\*------------------------------------*/
/* line 68, ../sass/partials/_typography.scss */
.wide-intro h1, .wide-intro h2, .wide-intro h3 {
  color: white;
  margin: 0;
  text-align: center; }
/* line 74, ../sass/partials/_typography.scss */
.wide-intro h1 {
  font-size: 4.236em;
  font-size: 4.236rem;
  line-height: 5.854em;
  line-height: 5.854rem;
  margin-top: .75em; }
/* line 82, ../sass/partials/_typography.scss */
.wide-intro h2 {
  font-size: 1.618em;
  font-size: 1.618rem;
  font-weight: normal;
  line-height: 2.618em;
  line-height: 2.618rem; }

/*------------------------------------*\
    WORK
\*------------------------------------*/
/* line 98, ../sass/partials/_typography.scss */
.grid .grid-item h3 {
  margin-bottom: 0.5em;
  color: #141826; }
/* line 103, ../sass/partials/_typography.scss */
.grid .grid-item p {
  margin-top: 0.5em; }
/* line 108, ../sass/partials/_typography.scss */
.grid .grid-item.is-expanded h2,
.grid .grid-item.is-expanded p {
  text-align: left; }
/* line 114, ../sass/partials/_typography.scss */
.grid .is-thumb h4 {
  font-weight: 700;
  margin-bottom: 0; }

/* line 122, ../sass/partials/_typography.scss */
.expanded-Proj-Info {
  color: #141826;
  line-height: 2em; }

/* line 129, ../sass/partials/_typography.scss */
.grid-item__info-block .btn {
  background: #141826;
  color: #dee0dc;
  padding: .25em; }
  /* line 133, ../sass/partials/_typography.scss */
  .grid-item__info-block .btn:hover {
    background: #27ec9e;
    color: #141826; }

/*--------------------*\
    MQ - MOBILE
\*--------------------*/
@media (min-width: 0em) and (max-width: 40em) {
  /* line 37, ../sass/_bits.scss */
  .container {
    max-width: 35em; }

  /* line 146, ../sass/partials/_typography.scss */
  h1 {
    font-size: 2.75em;
    font-size: 2.75rem; }

  /* line 150, ../sass/partials/_typography.scss */
  h2 {
    font-size: 1.7em;
    font-size: 1.7rem;
    line-height: 2.75em;
    line-height: 2.75rem; }

  /* line 157, ../sass/partials/_typography.scss */
  h3 {
    font-size: 1.1em;
    font-size: 1.1rem;
    line-height: 1.7em;
    line-height: 1.7rem; } }
/*--------------------*\
    MQ - TABLET
\*--------------------*/
@media (min-width: 40.01em) and (max-width: 64em) {
  /* line 37, ../sass/_bits.scss */
  .container {
    max-width: 53em; } }
/*--------------------*\
    MQ - DESKTOP
\*--------------------*/
@media (min-width: 64.01em) {
  /* line 37, ../sass/_bits.scss */
  .container {
    max-width: 71em; } }
