/* - - - - - - - - - - - - - - - - - - - - -

 Title        : Reach out!
 Author       : Michael Perrotti
 URL          : http://mperrotti.com

 Last Updated : 4/25/2013

- - - - - - - - - - - - - - - - - - - - - */
/* Layout */
/* line 38, ../sass/wufoo-custom.scss */
.wufoo .contactme--email label.desc,
.wufoo .contactme--name label.desc,
.wufoo .contactme--email legend.desc,
.wufoo .contactme--name legend.desc,
.wufoo .contactme--email div,
.wufoo .contactme--name div {
  float: left;
  width: auto; }

/* line 45, ../sass/wufoo-custom.scss */
.wufoo .contactme--email label.desc,
.wufoo .contactme--name label.desc,
.wufoo .contactme--email legend.desc,
.wufoo .contactme--name legend.desc {
  padding: 0 1em 0 0; }

/* Logo */
/* line 50, ../sass/wufoo-custom.scss */
#logo a {
  background-image: none;
  min-height: 0;
  max-height: 0; }

/* Backgrounds */
/* line 57, ../sass/wufoo-custom.scss */
html {
  background-image: none;
  background-color: transparent; }

/* line 61, ../sass/wufoo-custom.scss */
#container {
  background: transparent; }

/* line 65, ../sass/wufoo-custom.scss */
.wufoo input.text,
.wufoo textarea.textarea {
  background: white;
  background-image: none; }

/* line 69, ../sass/wufoo-custom.scss */
.wufoo li.focused {
  background: transparent; }

/* line 72, ../sass/wufoo-custom.scss */
.wufoo li.instruct {
  background-color: transparent; }

/* line 76, ../sass/wufoo-custom.scss */
.wufoo input.btTxt {
  background: none;
  border: 5px solid #4a4640;
  color: #4a4640;
  cursor: pointer;
  outline: 0;
  padding: 0.5em 1em;
  width: 100%; }

/*for FireFox*/
/* line 88, ../sass/wufoo-custom.scss */
.wufoo input.btTxt::-moz-focus-inner,
.wufoo input.btTxt:focus {
  background: #4a4640;
  color: white;
  outline: none; }

/* Borders */
/* line 95, ../sass/wufoo-custom.scss */
#container {
  border: none;
  box-shadow: none; }

/* line 100, ../sass/wufoo-custom.scss */
.wufoo input.text,
.wufoo textarea.textarea {
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #716758;
  border-left: none;
  outline: 0; }

/* line 107, ../sass/wufoo-custom.scss */
.wufoo textarea.textarea {
  border-bottom: none; }

/* line 110, ../sass/wufoo-custom.scss */
.wufoo .info {
  border-bottom: 1px dotted #716758;
  padding: 0; }

/* line 114, ../sass/wufoo-custom.scss */
.wufoo li.focused input.text {
  border-bottom: 1px solid #4a4640; }

/* line 117, ../sass/wufoo-custom.scss */
.wufoo .instruct {
  border: none; }

/* Typography */
/* line 130, ../sass/wufoo-custom.scss */
.wufoo .info div,
.wufoo .section div,
.wufoo label.desc,
.wufoo legend.desc,
.wufoo input.text,
.wufoo textarea.textarea,
.wufoo select.select,
.wufoo label.choice,
.wufoo .instruct {
  font-family: "Karla", sans-serif;
  font-size: 1em;
  font-size: 1rem;
  line-height: 1.75em;
  line-height: 1.75rem;
  color: #716758; }

/* line 138, ../sass/wufoo-custom.scss */
.wufoo input.text {
  padding: 0; }

/* line 149, ../sass/wufoo-custom.scss */
.wufoo li.focused label.desc,
.wufoo li.focused legend.desc,
.wufoo li.focused div,
.wufoo li.focused span,
.wufoo li.focused div label,
.wufoo li.focused span label,
.safari .wufoo li.focused input.file,
.wufoo li.focused input.text,
.wufoo li.focused textarea.textarea {
  color: #4a4640; }

/* line 153, ../sass/wufoo-custom.scss */
.wufoo .info h2,
.wufoo .section h3 {
  font-family: "Karla", sans-serif;
  font-size: 1.618em;
  font-size: 1.618rem;
  line-height: 2.618em;
  line-height: 2.618rem;
  background: transparent;
  color: #4a4640; }

/* line 162, ../sass/wufoo-custom.scss */
.wufoo li div, .wufoo li div label, .wufoo li span label {
  font-family: "Karla", sans-serif;
  color: #716758; }

/* line 166, ../sass/wufoo-custom.scss */
.wufoo label.choice {
  color: #716758; }

/* line 170, ../sass/wufoo-custom.scss */
form span.req {
  color: #3c2886 !important; }

/*Hack to hide default textarea expand tag*/
/* line 175, ../sass/wufoo-custom.scss */
.contactme--message div {
  height: 80px;
  overflow: hidden; }
