/*------------------------------------*\
    VARS.CSS (mperrotti.com vars)
\*------------------------------------*/

//LAYOUT
$base-measure: 2em;
$base-spacing: $base-measure/2;

//COLORS
$light-muted-brown: lighten(desaturate(rgb(102, 84, 58), 15%), 8%);
$dark-muted-brown:  desaturate(lighten(rgb(53, 45, 34), 10%), 15%);
$pink: desaturate(rgb(240, 222, 193), 35%); //rgb(238, 218, 207);
$light-blue: desaturate(rgb(209, 216, 227), 20%);
$blue: rgb(20, 76, 125);

$site-base-color: whitesmoke;
$site-secondary-color: $dark-muted-brown;
$site-secondary-color-light: rgb(172, 172, 172);
$site-accent-main: $blue;
$site-accent-light: $pink;
$site-accent-dark: $light-blue;

//TYPOGRAPHY
$site-main-font: Lekton, TradeGothic, Helvetica, Arial, sans-serif;
$site-secondary-font: Palatino, Didot, TimesNewRoman, serif;
$base-font-size: 1em;

//TRANSITIONS
$default-transition: all, .25s, ease-in;