//LAYOUT
$base-measure: 2em;
$base-spacing: $base-measure/2;

//COLORS
$light-muted-brown: lighten(desaturate(rgb(102, 84, 58), 15%), 8%);
$dark-muted-brown:  desaturate(lighten(rgb(53, 45, 34), 10%), 15%);
$royal-blue: rgb(60, 40, 134);
$cool-grey: rgb(239, 241, 242); //use if accent is warm color
$warm-grey: lighten(rgb(184, 188, 180), 15%); //use if accent is cool color

$background: $warm-grey;
$dark: $dark-muted-brown;
$light: $light-muted-brown;
$accent: $royal-blue;

//TYPOGRAPHY
$site-main-font: 'Karla', sans-serif;
$site-secondary-font: 'Karla', sans-serif;
$base-font-size: 1em; //Overriding SUSY default, do not change or delete!

/* - - - - - - - - - - - - - - - - - - - - -

 Title        : Reach out!
 Author       : Michael Perrotti
 URL          : http://mperrotti.com

 Last Updated : 4/25/2013

- - - - - - - - - - - - - - - - - - - - - */

/* Layout */
.wufoo .contactme--email label.desc,
.wufoo .contactme--name label.desc,
.wufoo .contactme--email legend.desc,
.wufoo .contactme--name legend.desc,
.wufoo .contactme--email div,
.wufoo .contactme--name div{
	float: left;
	width: auto;
}
.wufoo .contactme--email label.desc,
.wufoo .contactme--name label.desc,
.wufoo .contactme--email legend.desc,
.wufoo .contactme--name legend.desc{
	padding: 0 $base-spacing 0 0;
}

/* Logo */
#logo a {
	background-image: none; 
	min-height:0; 
	max-height:0;
}

/* Backgrounds */
html{
	background-image:none;
	background-color:transparent;
}
#container{
	background:transparent;
}
.wufoo input.text, 
.wufoo textarea.textarea{
	background: white;
	background-image: none;
}
.wufoo li.focused{
	background:transparent;
}
.wufoo li.instruct{
	background-color:transparent;
}

.wufoo input.btTxt{
	background: none;
	border: 5px solid $dark;
	color: $dark;
	cursor: pointer;
	outline: 0;
	padding: $base-spacing/2 $base-spacing;
	width: 100%;
}

/*for FireFox*/
.wufoo input.btTxt::-moz-focus-inner,
.wufoo input.btTxt:focus{
	background: $dark;
	color: white;
	outline : none;
}

/* Borders */
#container{
	border:none;
	box-shadow: none;
}
.wufoo input.text, 
.wufoo textarea.textarea{
	border-top: none;
	border-right: none;
	border-bottom: 1px solid $light;
	border-left: none;
	outline: 0;
}
.wufoo textarea.textarea{
	border-bottom: none;
}
.wufoo .info{
	border-bottom:1px dotted $light;
	padding: 0;
}
.wufoo li.focused input.text{
	border-bottom: 1px solid $dark;
}
.wufoo .instruct{
	border:none;
}

/* Typography */
.wufoo .info div, 
.wufoo .section div,
.wufoo label.desc, 
.wufoo legend.desc,
.wufoo input.text,
.wufoo textarea.textarea, 
.wufoo select.select,
.wufoo label.choice,
.wufoo .instruct{
	font-family:$site-main-font;
	font-size: 1em;
	font-size: 1rem;
	line-height: 1.75em;
	line-height: 1.75rem;
	color: $light;
}
.wufoo input.text{
	padding: 0;
}
.wufoo li.focused label.desc, 
.wufoo li.focused legend.desc, 
.wufoo li.focused div, 
.wufoo li.focused span, 
.wufoo li.focused div label, 
.wufoo li.focused span label, 
.safari .wufoo li.focused input.file,
.wufoo li.focused input.text, 
.wufoo li.focused textarea.textarea {
	color: $dark;
}
.wufoo .info h2,
.wufoo .section h3{
	font-family:$site-main-font;
	font-size: 1.618em;
	font-size: 1.618rem;
	line-height: 2.618em;
	line-height: 2.618rem;
	background:transparent;
	color:$dark;
}
.wufoo li div, .wufoo li div label, .wufoo li span label{
	font-family:$site-main-font;
	color:$light;
}
.wufoo label.choice{
	color:$light;
}

form span.req {
color: $accent !important;
}

/*Hack to hide default textarea expand tag*/
.contactme--message div {
	height: 80px;
	overflow: hidden;
}