/*------------------------------------*\
    LAYOUT - GLOBAL
\*------------------------------------*/
@include setup-container;

/*--------------------*\
    NAVIGATION
\*--------------------*/
 body{
	@include single-transition(opacity, .5s, ease-in);
 }

.show-page-none{
	opacity: 0;
	nav,
	.home {
		display: none;
	}
}

.main-nav {
	bottom: 0;
	left: 0;
	margin: 0 auto;
	padding: 0;
	position: fixed;
	right: 0;
	width: 200px;
	z-index: 5;

	ul {
		@include one-whole;
		.main-nav--new-page {
			bottom: 1em;
			margin: -2em auto 0 auto;
			width: 100%;

			a {
				display: block;
				height: $base-measure*2;
				line-height: $base-measure*2;
				margin: 0 auto;
				position: relative;
			}

			a[href="#home"] {
				.show-page-home & { display: none; }
			}

		}	

	}

}

.info-nav {
	position: fixed;
	z-index: 6;

	ul { @include clearfix; margin: 0;}

	.info-nav--more-info {
		display: block;
		float: left;
		height: $base-measure;
		margin: $base-spacing 0 $base-spacing $base-spacing;
		padding: $base-spacing/2;
		position: relative;
		text-align: center;
		width: $base-measure + .5em;

		
		a {
			@include single-transition(margin-top, .1s, ease-in);
			@include hide-text;
			display: block;
			height: 100%;
			width: 100%;
			
			.svg &    { background: url(../img/iconsprite.svg) no-repeat -97px -7px; }
			.no-svg & { background: url(../img/iconsprite.png) no-repeat -97px -7px; }

			&[href="#aboutme"] {
				background-position: -142px -7px;
				&:hover {
					background-position: -142px -60px;
				}
				.show-about & {
					background-position: -142px -108px;					
				}
			}

			&[href="#contactme"] {
				&:hover {
					background-position: -97px -60px;
				}
				.show-contact & {
					background-position: -142px -108px;
				}
			}
			.show-about &,
			.show-contact & { 
				margin-top: -1em;
			}
		}

	}

}

.toggle {
	padding: $base-spacing;
	width: 100%;
}

.main-nav {

	 ul {
		margin: 0;
		position: relative;
		z-index: 2;
	}

	.main-nav--new-page {
		position: relative;
	}

}

.page {
	background: $background;
	position: relative;
	z-index: 1;
}

.contactme,
.aboutme {
  @include span-columns(12 omega);
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
  float: left;
  margin-left: -100%;
  margin-top: $base-measure;
  padding: $base-spacing 0 $base-spacing 0;
  position: fixed;
  top: $base-measure;
  z-index: 5;
	p {
		margin-top: 0;
	}

}

.aboutme {
  .show-about & { 
  	margin-left: 0;
		padding: $base-spacing $base-measure $base-spacing $base-spacing;
  }
}
.contactme {
  .show-contact & { 
  	margin-left: 0;
		padding: $base-spacing $base-measure $base-spacing $base-spacing;
  }
}

/*--------------------*\
    MQ - MOBILE
\*--------------------*/
@include at-breakpoint($mobile) {
	@include update-container;
	.container.grid-container{ @include full-container; } //Yucky, but I needed the chained class for specificty
	.latest-social{
		@include one-col-center-pad;

		div{
			@include one-whole;
			@include omega;
		}
	}

	.page { z-index: 4; }

	.info-nav {
		width: 100%;
		z-index: 3;

		.info-nav--more-info {
			margin: $base-spacing $base-spacing $base-spacing 0;
			float: right;

			&:first-child{
				float: left;
			}

		}

	}

}

/*--------------------*\
    MQ - TABLET
\*--------------------*/
@include at-breakpoint($tablet) {
	@include update-container;
	.container.grid-container{ @include full-container; } //Yucky, but I needed the chained class for specificty
}

/*--------------------*\
    MQ - DESKTOP
\*--------------------*/
@include at-breakpoint($desktop) {
	@include update-container;

	.aboutme,
	.contactme {
	  @include span-columns($side omega);
	}

	.info-nav {
		// bottom: auto;
		// width: auto;
	
		.info-nav--more-info {
			// margin: $base-spacing 0 $base-spacing $base-spacing;
			// width: $base-measure + .5em;
			// height: $base-measure;

			a{
				// @include hide-text;
				// height: 100%;
				// width: 100%;
			}

		}

	}

}