/*------------------------------------*\
    LAYOUT - GLOBAL
\*------------------------------------*/
@include setup-container;

.main-nav {
	left: 0;
	padding: 0;
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 5;

	&[data-role="navigation"] {
		width: 50%;
	}

	ul {
		@include one-whole;
		.main-nav--new-page {
			margin: -2em auto 0 auto;
			width: 9em;
			&:first-child {
				border-bottom: none;
			}

			a {
				display: block;
				height: 6em;
				line-height: 5.5em;
				margin: 0 auto;
				position: relative;
			}

			a[href="#home"] {
				.show-page-home & { display: none; }
			}

		}	

	}

}

.info-nav {
	bottom: 0;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 4;

	.info-nav--more-info {
		border: 3px solid $site-secondary-color;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		background: $site-base-color;
		display: block;
		float: left;
		padding: $base-spacing;
		position: relative;
		text-align: center;
		width: 50%;
	}

}

#home,
#work {
	background: $site-accent-light;
	position: relative;
	z-index: 1;
}

.aboutme {
	@include single-transition(all, .25s, ease-in);
  @include span-columns(12 omega);
  background: white;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
  float: left;
  margin-left: -100%;
  margin-top: $base-measure;
  padding: $base-spacing 0 $base-spacing 0;
  position: fixed;
	top: 15px;
  z-index: 3;

  .show-about & { 
  	margin-left: 0; 
	  padding: $base-spacing;
  }
}

/*--------------------*\
    MQ - MOBILE
\*--------------------*/
@include at-breakpoint($mobile) {
	@include update-container;
	.container.grid-container{ @include full-container; } //Yucky, but I needed the chained class for specificty
	.latest-social{
		@include one-col-center-pad;

		div{
			@include one-whole;
			@include omega;
		}
	}
}

/*--------------------*\
    MQ - TABLET
\*--------------------*/
@include at-breakpoint($tablet) {
	@include update-container;
	.container.grid-container{ @include full-container; } //Yucky, but I needed the chained class for specificty
}

/*--------------------*\
    MQ - DESKTOP
\*--------------------*/
@include at-breakpoint($desktop) {
	@include update-container;

	.aboutme {
	  @include span-columns($side omega);
	}

	.info-nav {
		bottom: auto;
		padding: $base-spacing;
		width: auto;
	
		.info-nav--more-info {
			margin: $base-spacing;
			width: 94px;
		}

	}

}