/*------------------------------------*\
    WORK
\*------------------------------------*/
.grid{
	@include clearfix;
	position: relative;
	.toggle{
		@include toggle(right);
	}
}

.grid-item{
	@include one-thirds;
	@include clearfix;
	&:nth-child(3n) { @include omega; }
	margin-bottom: $base-spacing;

	img{
		@include one-whole;
	}

	.grid-item__expanded-content {
		@include clearfix;
	}

}

.grid-item__images { overflow: hidden; }

/*--------------------*\
    MQ - MOBILE
\*--------------------*/
@include at-breakpoint($mobile) {
	@include update-container;
	.grid {
		.grid-item{
			@include one-whole;

			&.is-expanded {
				.grid-item__images{
				  .show-grid-item__info & { @include one-whole; }
					li{
						&:first-child {
							@include one-whole;
						}
					}
				}
			}
			&.is-thumb{
				margin-bottom: $base-spacing/2;
				margin-top: $base-spacing/2;
				img {
					@include one-half;
					float: left;
					margin-right: $base-spacing
				}
			}
		}
	}
}

/*--------------------*\
    MQ - DESKTOP
\*--------------------*/
@include at-breakpoint($desktop) {
	@include update-container;
	// .grid{
	// 	.toggler{ display: none; }
	// }
}
