/*------------------------------------*\
    HOME
\*------------------------------------*/
#home {
	z-index: 2;
}

.wide-intro{
	overflow: hidden;
	position: relative;

	.wide-intro__over{
		@include container;
		margin-top: $base-measure;
	}
}

.latest-social{
	@include two-thirds;

	div{
		@include one-half;

		&:nth-child(2n) { @include omega; }
	}
}

/*--------------------*\
    MQ - MOBILE
\*--------------------*/
@include at-breakpoint($mobile) {
	@include update-container;
}

/*--------------------*\
    MQ - TABLET
\*--------------------*/
@include at-breakpoint($tablet) {
	@include update-container;

}

/*--------------------*\
    MQ - DESKTOP
\*--------------------*/
@include at-breakpoint($desktop) {
	@include update-container;
}