/*------------------------------------*\
    WORK
\*------------------------------------*/
.grid{
	@include clearfix;
	position: relative;

	.grid-item{
		@include one-thirds;	

		&:nth-child(3n) { @include omega; }
		&:last-child { float: left; }

		img{ @include one-whole; }

	}
}

.work { top: 100px; }

.expanded-Proj-Nav {
	display: none;
	position: fixed;
	right: -1em;
	top: 25%;
	&[href="#next-proj"] {
		margin-top: -2em; //height of prev/next links
	}
	&[href="#prev-proj"] {
		margin-top: 2em;
	}
	.is-expanded-view-single & {	@include inline-block; }

}
.expanded-Proj-Info {
  height: $base-spacing;
	padding: $base-spacing;
	position: absolute;
	right: -1.5em;
	top: 80px;
	width: $base-spacing;
  z-index: 999;
}

.project-view {
	height: 70px;
	left: 50%;
	margin-left: -47px;
	overflow: hidden;
	position: fixed;
	top: 60px;

	.toggle-project-view {
		color: transparent;
		float: right;
		height: 47px;
		margin-top: 2px;
		text-indent: -999em;
		width: 47px;
	}
}

/*--------------------*\
    MQ - MOBILE
\*--------------------*/
@include at-breakpoint($mobile) {
	@include update-container;
	.work { top: 180px; }
	.project-view { top: 100px; }
	.is-expanded-view-single .expanded-Proj-Nav { display: none; }

}

/*--------------------*\
    MQ - DESKTOP
\*--------------------*/
@include at-breakpoint($desktop) {
	@include update-container;

	.expanded-Proj-Info {
		z-index: 4;
		.is-expanded-view-single & {	display: none; }		
	}

}