/*------------------------------------*\
    WORK
\*------------------------------------*/
#work {
	top: 100px;
}
.grid{
	@include clearfix;
	position: relative;

	.grid-item{
		@include one-thirds;
		
		&:nth-child(3n) { @include omega; }
		&:last-child { float: left; }

		img{
			@include one-whole;
		}
	}
}

.expanded-Proj-Nav {
	display: none;
	opacity: .5;
	position: fixed;
	right: -1em;
	top: 50%;
	&[href="#next-proj"] {
		margin-top: -2em; //height of prev/next links
	}
	&[href="#prev-proj"] {
		margin-top: 2em;
	}
	.is-expanded-view & {	@include inline-block; }

}
.expanded-Proj-Info {
	display: none;
	opacity: .5;
	position: absolute;
	right: 0;
	top: 0;
	.is-expanded & {	@include inline-block; }
}

/*--------------------*\
    MQ - MOBILE
\*--------------------*/
@include at-breakpoint($mobile) {
	@include update-container;
	.grid{		
		
		.grid-item{
			@include one-half;
					
			&:nth-child(2n) { @include omega; }

			&.is-expanded{
				.grid-item__images{
				  .show-grid-item__info & { @include one-whole; }
					li{
						&:first-child {
							@include one-whole;
						}
					}
				}
			}

		}
	}
}

/*--------------------*\
    MQ - TABLET
\*--------------------*/
@include at-breakpoint($tablet) {
	@include update-container;
	.expanded-Proj-Nav {
		right: auto;

		&[href="#next-proj"] {
			right: -1em;
			margin-top: -40px;
		}
		&[href="#prev-proj"] {
			left: -1em;
			margin-top: -40px;
		}

		.is-expanded-view & { display: block; }

	}
}

/*--------------------*\
    MQ - DESKTOP
\*--------------------*/
@include at-breakpoint($desktop) {
	@include update-container;
	// .grid{
		
	// 	.grid-item{
	// 		&.is-expanded{
	// 			.grid-item__images{
	// 			  .show-grid-item__info & { @include one-whole; }
	// 			  li{
	// 					&:first-child {
	// 						@include two-thirds;
	// 					}
	// 				}
	// 			}
				
	// 			.grid-item__info{
	// 		  	margin-right: 0;
	// 			}
	// 		}

	// 	}

	// }

}