/*------------------------------------*\
    WORK
\*------------------------------------*/
#work {
	top: 100px;
}
.grid{
	@include clearfix;
	position: relative;

	.grid-item{
		@include one-thirds;	

		&:nth-child(3n) { @include omega; }
		&:last-child { float: left; }

		img{ @include one-whole; }

	}
}

.expanded-Proj-Nav {
	display: none;
	position: fixed;
	right: -1em;
	top: 25%;
	&[href="#next-proj"] {
		margin-top: -2em; //height of prev/next links
	}
	&[href="#prev-proj"] {
		margin-top: 2em;
	}
	.is-expanded-view-single & {	@include inline-block; }

}
.expanded-Proj-Info {
  height: $base-measure;
	padding: $base-spacing;
	position: absolute;
	right: $base-measure*(-1);
	top: 80px;
	width: $base-measure;
  z-index: 999;
}

.project-view {
	height: 70px;
	left: 50%;
	margin-left: -47px;
	overflow: hidden;
	position: fixed;
	top: 60px;

	.toggle-project-view {
		color: transparent;
		float: right;
		height: 47px;
		margin-top: 2px;
		text-indent: -999em;
		width: 47px;
	}
}

/*--------------------*\
    MQ - MOBILE
\*--------------------*/
@include at-breakpoint($mobile) {
	@include update-container;
	.project-view {
		top: 100px;
	}
}
/*--------------------*\
    MQ - TABLET
\*--------------------*/
@include at-breakpoint($tablet) {
	@include update-container;
	.expanded-Proj-Nav {
		right: auto;

		&[href="#next-proj"] {
			right: -1em;
			margin-top: -40px;
		}
		&[href="#prev-proj"] {
			left: -1em;
			margin-top: -40px;
		}

		.is-expanded-view & { display: block; }

	}
}

/*--------------------*\
    MQ - DESKTOP
\*--------------------*/
@include at-breakpoint($desktop) {
	@include update-container;

	.expanded-Proj-Info {
		z-index: 4;
	}

}