/*------------------------------------*\
    LAYOUT.CSS
\*------------------------------------*/
$column-width   : 5em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;

//breakpoints
$desktop        : 64.01em 12;
$tablet         : 40.01em 9 64em;
$mobile         : 0em 6 40em;

//for off-canvas
$anchor 				: ($total-columns/3)*2;
$side 					: $total-columns - $anchor;

@import 'layout/global';
@import 'layout/home';
@import 'layout/work';
@import 'layout/grid';