/*------------------------------------*\
    GLOBAL
\*------------------------------------*/
body {
  background: $site-accent-light;
}

.color-test {
	float: left;
	height: 50px;
	margin-left: 10px;
	width: 50px;
	&.color-test-1 {
		background: $light-blue;
		border: 2px solid darken($light-blue, 10%);
	}
	&.color-test-2 {
		background: $blue;
		border: 2px solid darken($blue, 10%);		
	}
	&.color-test-3 {
		background: $pink;
		border: 2px solid darken($pink, 10%);		
	}
	&.color-test-4 {
		background: $dark-muted-brown;
		border: 2px solid darken($dark-muted-brown, 10%);		
	}
	&.color-test-5 {
		background: $light-muted-brown;
		border: 2px solid darken($light-muted-brown, 10%);		
	}
}

.page {
	@include single-transition(all, 1s, ease-in-out);
}

nav ul,
.main-nav,
.container { @include single-transition(all, 1s, ease-in-out); }

nav ul{
	margin: 0;
	position: relative;
	z-index: 2;
}

.toggle{
	@include toggle();
	padding: $base-spacing;
	text-align: center;
	width: 100%;
}

.toggle-nav {
	bottom: -4em;
	color: transparent;
  height: 36px;
  left: 50%;
  margin-left: -62px;
  padding: 12px;
  position: relative;
  pointer-events: none;
  text-align: center;
  text-indent: -9999em;
  width: 100px;
  z-index: 0;

	// &:before,
	// &:after {
	//   background: $site-secondary-color;
	// 	// border-color: lighten($site-secondary-color, 10%);
	// 	// border-style: solid;
	//   content: '';
	//   height: 100%;
	//   position: absolute;
	//   top: 0;
	// }
	// &:before {
	//   @include transform2d(skew(0deg, 25deg));
	// 	border-width: 2px 0 2px 2px;
	//   left: 0;
	//   width: 51%;
	// }
	// &:after {
	//   @include transform2d(skew(0deg, -25deg));
	// 	border-width: 2px 2px 2px 0;
	//   right: 0;
	//   width: 49%;
	// }

}

// .toggle-nav,
// .main-nav li a {
// 	@include single-transition(all, .5s, ease-out);
// }

.main-nav {
	background: $site-accent-light;

	.main-nav--new-page {
		@include single-transition(all, .5s, ease-out);
		background: url('../img/nav-btn.svg') no-repeat center;
		
		a { 
		  color: $site-secondary-color;
		}

	}

}

/*------------------------------------*\
    HOME
\*------------------------------------*/
.home {
  //background: url(../img/bigimgtest.jpeg) no-repeat center center fixed; 
  background: $site-accent-light;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wide-intro{
	overflow: hidden;
	img{
		width: 1000%;
	}
}

.wide-intro__video-container{
	position: absolute;
	top: 0;
	width: 100%;
}

/*------------------------------------*\
    ABOUT
\*------------------------------------*/
.aboutme { 
	margin-top: $base-measure; 
}

@import 'modules/work';