/*------------------------------------*\
    GLOBAL
\*------------------------------------*/
html{ font-size: 100%; }

body{
	color: $light;
	font-family: $site-main-font;
	font-size: 100%;
}

//TODO: write a mixin!
h1 {
	font-size: 7.686em;
	font-size: 7.686rem;
	line-height: 6.854em;
	line-height: 6.854rem;
	font-weight: 700;
}

h2 {
	font-size: 4.236em;
	font-size: 4.236rem;
	line-height: 6.854em;
	line-height: 6.854rem;
}

h3 {
	font-size: 1.618em;
	font-size: 1.618rem;
	line-height: 2.618em;
	line-height: 2.618rem;
}

h4, p {
	font-size: 1em;
	font-size: 1rem;
	line-height: 1.618em;
	line-height: 1.618rem;
	margin-top: 0;
}

p {
	font-family: $site-secondary-font;
}

h1, h2, h3,
h4, h5, h6 { font-family: $site-secondary-font; }

h3, h4, h5, h6 { font-weight: normal; }

nav{
	li a { text-align: center; }
}

a{
	text-decoration: none;
}

a[href="#aboutme"] {
	color: white;
}

.aboutme { 
	h4 {
		margin-bottom: $base-spacing;
		font-weight: bold;
	}
	a {
		color: $accent;
		padding-bottom: 2px;
		border-bottom: 1px solid $accent;
		margin-bottom: 2px;
	}
}


/*------------------------------------*\
    HOME
\*------------------------------------*/
.wide-intro{
	h1, h2, h3{ 
		color: white;
		margin: 0;
		text-align: center;
	}

	h1{
		font-size: 4.236em;
		font-size: 4.236rem;
		line-height: 5.854em;
		line-height: 5.854rem;
		margin-top: .75em;
	}

	h2{
		font-size: 1.618em;
		font-size: 1.618rem;
		font-weight: normal;
		line-height: 2.618em;
		line-height: 2.618rem;
	}
}

/*------------------------------------*\
    WORK
\*------------------------------------*/
.grid {
	
	.grid-item {
		
		h3{
			margin-bottom: $base-spacing/2;
			color: $dark;
		}
		
		p{
			margin-top: $base-spacing/2;
		}		
		&.is-expanded {
			h2,
			p{ text-align: left; }
		}

	}

	.is-thumb { 
		h4 {
			font-weight: 700;
			margin-bottom: 0;
		}
	}

}

.expanded-Proj-Info {
	color: $dark;
	line-height: $base-measure;
}

.grid-item__info-block {

	.btn {
		background: $dark;
		color: $background;
		padding: .25em;
		&:hover{
			background: $accent;
			color: $dark;
		}
	}

}

/*--------------------*\
    MQ - MOBILE
\*--------------------*/
@include at-breakpoint($mobile) {
	@include update-container;
	h1 {
		font-size: 2.75em;
		font-size: 2.75rem;
	}
	h2 {
		font-size: 1.7em;
		font-size: 1.7rem;
		line-height: 2.75em;
		line-height: 2.75rem;
	}

	h3 {
		font-size: 1.1em;
		font-size: 1.1rem;
		line-height: 1.7em;
		line-height: 1.7rem;
	}
}

/*--------------------*\
    MQ - TABLET
\*--------------------*/
@include at-breakpoint($tablet) {
	@include update-container;
}

/*--------------------*\
    MQ - DESKTOP
\*--------------------*/
@include at-breakpoint($desktop) {
	@include update-container;


}

