body{
	color: $light-muted-brown;
	font-family: $site-main-font;
}

h1, h2, h3,
h4, h5, h6{	
	color: $site-secondary-color;
	font-family: $site-secondary-font; 
	font-weight: normal;
}

nav{
	li a { text-align: center; }
}

a{
	text-decoration: none;
}

.title{
	text-transform: capitalize;
}

/*------------------------------------*\
    HOME
\*------------------------------------*/
.wide-intro{
	h1, h2, h3{ 
		color: $site-base-color;
		margin: 0;
		text-align: center; 
	}

	h3 { 
		font-family: $site-main-font; 
		font-size: $base-font-size;
	}
}

/*------------------------------------*\
    WORK
\*------------------------------------*/
.grid{
	.grid-item{
		
		h3{
			margin-bottom: $base-spacing/2;
		}
		
		p{
			margin-top: $base-spacing/2;
		}

		h3,
		p{
			text-align: center;
		}
		
		&.is-expanded {
			h2,
			p{ text-align: left; }
		}

	}
}

/*--------------------*\
    MQ - MOBILE
\*--------------------*/
@include at-breakpoint($mobile) {
	@include update-container;
	.wide-intro{ text-align: center; }
}

/*--------------------*\
    MQ - TABLET
\*--------------------*/
@include at-breakpoint($tablet) {
	@include update-container;
}

/*--------------------*\
    MQ - DESKTOP
\*--------------------*/
@include at-breakpoint($desktop) {
	@include update-container;


}

