/*--------------------*\
    GLOBAL
\*--------------------*/
.show-page-home {

  .home { @include transform2d(translateX(0)); }
  .work { @include transform2d(translateX(-100%)); width: 0; overflow: hidden; } //height and overflow hack to deal with FF bug - http://stackoverflow.com/questions/13626412/firefox-transitions-breaking-when-parent-overflow-is-changed

}

.show-page-work {
  overflow: visible;

  .home { @include transform2d(translateX(-100%)); }

  .main-nav {
    background: $dark;
    color: $background;

    span { @include transform2d(rotate(90deg)); }

  }
}

// .show-about {
//   .main-nav--more-info {
//     a[href="#aboutme"] { background: $dark; }
//   }
// }

// .show-contact {
//   .main-nav--more-info {
//     a[href="#contactme"] { background: $dark; }
//   }
// }