/*--------------------*\
    GLOBAL
\*--------------------*/

.show-page-home {
  #home { @include transform2d(translateY(0)); }
  #work { margin-top: -200%; }
}

.show-page-work {
  
  #home { @include transform2d(translateY(-100%)); }

  .main-nav {
    background: transparent;

    &:hover {
      .main-nav--new-page { margin-top: -2em; }
    }

    .main-nav--new-page {
      @include transform2d(rotate(180deg));
      margin-top: -10em;
    }
    
    // .toggle-nav {
    //   bottom: -5em;

    //   &:before,
    //   &:after {
    //     top: 3em;
    //   }

    //   &:before {
    //     @include transform2d(skew(0deg, -25deg));
    //   }
    //   &:after {
    //     @include transform2d(skew(0deg, 25deg));
    //   }

    // }

  }
}

.show-about {
  .main-nav--more-info {
    a[href="#aboutme"] { background: $site-accent-dark; }
  }
}

.show-contact {
  .main-nav--more-info {
    a[href="#contactme"] { background: $site-accent-dark; }
  }
}