/*------------------------------------*\
    GRID
\*------------------------------------*/

	/*--------------------*\
	  THUMB (details on hover)
	\*--------------------*/
	.grid-item.is-thumb {
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		cursor: pointer;
		padding: $base-spacing;
		position: relative;

		.grid-item__info {
			display: block;
			position: relative;
			top: $base-spacing;
			width: 100%;
		}

		.grid-item__images,
		.grid-item__expanded-content .grid-item__info { opacity: 0; }

		.grid-item__expanded-content, 
		.toggle {
			opacity: 0;
			max-height: 0;
			max-width: 0;
		}

	}

	.no-touch {
		.is-thumb{
			&:hover {
				background: white;
				color: $accent;
				left: -3px;
				top: -3px;

				&:before{
					@include transform(translateX(10px) translateY(10px));
					opacity: 1;
				}

				img { @include box-shadow(none); }
			}
		}
	}

	/*--------------------*\
	  EXPANDED
	\*--------------------*/
	.grid-item.is-expanded {
		@include one-whole;
		float: left;
		clear: both;
		cursor: default;
		margin-bottom: 4em;
		margin-right: 100%;
		position: relative;

		.grid-item__images,
		.grid-item__info { @include transition(width .15s ease-in-out, margin-right .15s ease-in-out, opacity 1s ease); }

		.toggle,
		.grid-item__expanded-content {
			opacity: 1;
			max-height: 100%;
			max-width: 100%
		}
		
		.expanded-Proj-Info{ @include single-transition(margin-right, .15s, ease-in-out); }

		.grid-item__info {
			@include span-columns($side omega);
		 	margin-right: -100%;
			position: absolute;
			right: 0;
			z-index: 5;

			.show-grid-item__info & { margin-right: 0; }
		}

		.grid-item__images {
			@include one-whole;
			@include remove-omega;
			@include clearfix;
			margin-top: 0;
			margin-right: 0;
			
			img { 
				@include one-whole; 
				margin-bottom: $base-spacing;
			}
		}

		//TODO: get rid of yucky !important
		& > img,
		& > .grid-item__info {
			display: none !important; //Yucky way to override js and make sure this stuff is hidden
		}
	}

/*--------------------*\
  MQ - MOBILE
\*--------------------*/
@include at-breakpoint($tablet) {
	@include update-container;
	.grid-item.is-expanded {
		.grid-item__info {
		  .show-grid-item__info & { @include one-whole;}
		}
	}
}
/*--------------------*\
    MQ - MOBILE
\*--------------------*/
@include at-breakpoint($mobile) {
	@include update-container;

		.grid-item.is-expanded{

			.grid-item__info, 
			.grid-item__images{
			  .show-grid-item__info & { @include one-whole; }					
			}

			.grid-item__info{
				@include full-pad-box;
				background: rgba(235,235,235,.75);
				max-height: 100%;
				overflow: scroll;
			}

			.grid-item__images{
				li{
					&:first-child {
						@include one-whole;
					}
				}
			}

		}

}

/*--------------------*\
    MQ - DESKTOP
\*--------------------*/
@include at-breakpoint($desktop) {
	@include update-container;
	.grid-item.is-expanded {
		.grid-item__images {
		  .show-grid-item__info & { @include two-thirds; }
		}
		.expanded-Proj-Info { 
			.show-grid-item__info & { margin-right: space(($total-columns/3), $total-columns); }
		}
	}
}
@include at-breakpoint($mobile) {
	@include update-container;
	.grid-item.is-thumb {
		.grid-item__info { top: 0; }
	}
}