.expanded-Proj-Info {
	display: none;

	.is-expanded & {  @include inline-block; }
}

.project-view {
	display: none;

	.show-page-work & {	display: block; }
}

.close-project {
	display: none;

	.is-expanded-view-single & { display: block; }
}

//TODO: Fix this ghetto-ass hack
.ps-inited {

	.gallery-container {
		@include inline-block;
		position: relative;
		overflow: hidden;

		img { display: none !important; }
	}

}

@include at-breakpoint($tablet) {
	@include update-container;

	.project-view {
	
		.is-expanded & {  display: none; }
	
	}
	
	.touch {

		.gallery-container {
			height: 500px;
			opacity: 0;
			width: 100%;

			& > img {
				display: none !important;
				height: 0;
				visibility: hidden;
			}

		}

	}

}