/*------------------------------------*\
    GLOBAL
\*------------------------------------*/
body {
  background: $background;
}

img {
	background: url('../img/hover-pattern.png') $accent;
}

.page {
	@include single-transition(all, .5s, ease-in-out);
}

.toggle{
	@include toggle();
}

.main-nav {
	@include single-transition(all, .5s, ease-in-out);
	background: $background;

	.main-nav--new-page {
		@include single-transition(all, .5s, ease-out);
		background: url('../img/nav-btn.svg') no-repeat center;
	}

}