body {
  @include transition(opacity .5s ease-out, background .5s ease-in);
  background: $background;
}

.show-page-none{
	opacity: 0;

	nav,
	.home {
		display: none;
	}
}

img {
	background: url('../img/hover-pattern.png') $accent;
}

.page { @include single-transition(all, .5s, ease-in-out); }

.toggle { @include toggle(); }

.main-nav {
	@include single-transition(all, .5s, ease-in-out);
	background: $accent;

	span { @include transform2d(rotate(-90deg)); }

	a[href="#home"] { 
		.svg & { background: url('../img/iconsprite.svg') no-repeat transparent 0 -286px; }
		.no-svg & { background: url('../img/iconsprite.png') no-repeat transparent 0 -286px; }
	}
	
}

a[href="#aboutme"] { @include single-transition(color, .25s, ease-in); }

.aboutme {
  @include single-transition(all, .25s, ease-in);
	background: white;

	&:before{
		@include transform(translateX(0) translateY(0));
  	background: white; //HACK. not sure why I can't get the ':before' bg to show up below the actual element
		bottom: 10px;
		content: ' ';
		display: none;
		opacity: 1;
		height: 100%;
		position: absolute;
		right: 10px;
		width: 100%;
		z-index: -1;
	}
}

@include at-breakpoint($desktop) {
	@include update-container;
	
	.aboutme {
	  @include single-transition(all, .25s, ease-in);
		background: url('../img/hover-pattern.png') $accent; //HACK. not sure why I can't get the ':before' bg to show up below the actual element

		&:before{
			display: block;
		}
	}

}

@include at-breakpoint($tablet) {
	@include update-container;		

	nav.main-nav {
		.show-page-work & {
			
			span { 
				background: $dark;
				display: block;
				padding: .25em;
				width: auto;
			}

		}
	}

}

@include at-breakpoint($mobile) {
	@include update-container;		

	nav.main-nav {
		.show-page-work & { 
			
			span { 
				background: $dark;
				display: block;
				padding: .25em;
				width: auto;
			}

		}
	}

	.aboutme {
		iframe { 
			display: none;
			.show-about & { display: block; }
		}
	}

}