body {
  @include transition(opacity .5s ease-out, background .5s ease-in);
  background: $background;
}

.show-page-none{
	opacity: 0;

	nav,
	.home {
		display: none;
	}
}

img {
	background: url('../img/hover-pattern.png') $accent;
}

.page { @include single-transition(all, .5s, ease-in-out); }

.toggle{
	@include toggle();
}

.main-nav {
	@include single-transition(all, .5s, ease-in-out);
	background: $accent;

	span { 
		@include transform2d(rotate(-90deg));
	}

}

.aboutme,
.contactme {
  @include single-transition(all, .25s, ease-in);
	background: url('../img/hover-pattern.png') $accent; //HACK. not sure why I can't get the ':before' bg to show up below the actual element

	&:before{
		@include transform(translateX(0) translateY(0));
  	background: white; //HACK. not sure why I can't get the ':before' bg to show up below the actual element
		bottom: 10px;
		content: ' ';
		display: block;
		opacity: 1;
		height: 100%;
		position: absolute;
		right: 10px;
		width: 100%;
		z-index: -1;
	}
}


@include at-breakpoint($mobile) {
	@include update-container;		

	nav.main-nav {
		.show-page-work & { 
			background: transparent; 
			
			span { 
				background: $dark;
				display: block;
				padding: .25em;
				width: auto;
			}

		}
	}

}