.grid-item {
	@include transition(width .35s ease-in-out, height .35s ease-in-out);
}

.grid-item__expanded-content,
.toggle {
	@include transition(width .35s ease-in-out, height .35s ease-in-out);
	height: 100%;
}

.close-project {
	color: $accent;
	font-size: .5em;
	line-height: 3.5em;
	overflow: hidden;
	position: absolute;
	padding-right: 0;
	padding: $base-spacing;
	padding-left: 35px;
	top: 3em;
	right: 0;
	z-index: 6;

	&:before {
		content: '';
		height: 50px;
		position: absolute;
		top: $base-spacing;
		width: 50px;
		left: 0px;

		.svg &    {	background: url(../img/iconsprite.svg) -148px -108px no-repeat transparent; }
		.no-svg & {	background: url(../img/iconsprite.png) -148px -108px no-repeat transparent; }

	}
	
}

.expanded-Proj-Nav {
	height: 2em;
	padding: 12px;
	right: .5em;
	text-indent: -9999em;
	width: 2em;
	z-index: 2;

	.svg & { background: url('../img/iconsprite.svg'); }
	.no-svg & { background: url('../img/iconsprite.png'); }

	&[href="#next-proj"] {
		background-position: -274px 0;
		&:hover {  background-position: -274px -58px;  }
	}

	&[href="#prev-proj"] {
		background-position: -333px 0; 
		&:hover {  background-position: -333px -58px;  }
	}

}

.expanded-Proj-Info {
	@include transform(rotate(45deg));
	background: $background;
	border-left: 1px solid lighten($background, 5%);
	border-bottom: 1px solid lighten($background, 5%);
	color: $dark;
	opacity: .5;

	.csstransforms & { border-radius: 0 999px 0 0; }
	// .svg & { background: url(../img/iconsprite.svg) no-repeat $background -9999em -9999em; }
	// .no-svg & {	background: url(../img/iconsprite.png) no-repeat $background -9999em -9999em; }

	&:hover {
		border-left: 1px solid lighten($background, 20%);
		border-bottom: 1px solid lighten($background, 20%);
	}

	&:before {
		@include transform(rotate(-45deg));
		content: '';
		height: 50px;
		left: 0;
		position: absolute;
		top: 0;
		width: 50px;
		.svg & { background: url(../img/iconsprite.svg) no-repeat transparent -136px -55px; }
		.no-svg & {	background: url(../img/iconsprite.png) no-repeat transparent -136px -55px; }	
	}
	
	.show-grid-item__info & {
	opacity: 1;

		&:before {
			.svg & { background: url(../img/iconsprite.svg) no-repeat transparent -92px -55px; }
			.no-svg & {	background: url(../img/iconsprite.png) no-repeat transparent -92px -55px; }
		}

	}		

}

.indicators {
	margin: 0 auto;
	position: relative;
	top: -1.5em;
	z-index: 9;

	span {
		background: rgba(235, 235, 235, .5);
		border: none;
		border-radius: 999em;
		display: inline-block;
		height: 5px;
		margin: 0 2px;
		width: 5px;
		&.current {
			background: rgba(235, 235, 235, 1);
			border: 1px solid white;
		}
	}

}


.toggle-project-view {

	.svg &    { background: url(../img/iconsprite.svg) no-repeat; }
	.no-svg & { background: url(../img/iconsprite.png) no-repeat; }

	&[href="#all-projects"] {
		background-position: 0 0;
		
		&:hover, .is-expanded-view & { background-position: 0 -54px; }

	}

	&[href="#collapse-projects"] { 
		background-position: -46.5px -53.5px;

		.is-expanded-view & { background-position: -46.5px 0px; }
		&:hover { background-position: -46.5px -53.5px; }

	}

}

.is-thumb {
	background: $background;
	border: 1px solid transparent;
	overflow: visible;
	position: relative;

	&:before{
		@include transform(translateX(0) translateY(0));
		background: url('../img/hover-pattern.png') $accent;
		bottom: 0;
		content: ' ';
		display: block;
		opacity: 0;
		height: 100%;
		position: absolute;
		right: 0;
		width: 100%;
		z-index: -1;
	}

	img {
		@include box-shadow(darken($background, 15%) 2px 2px 5px);
		background: $background;
		border-radius: 2px;
	}

}

/*--------------------*\
    MQ - MOBILE
\*--------------------*/
@include at-breakpoint($mobile) {
	@include update-container;
	.close-project {
		color: transparent;
		height: 2em;
		top: 0;
	}

	.expanded-Proj-Info {
			height: $base-measure;
			width: $base-measure;
		&:before {
			height: 0;
			padding: 1.5em;
			overflow: hidden;
			width: 2em;
			.svg &    {	background: url(../img/iconsprite.svg) -150px -140px no-repeat transparent; }
			.no-svg & {	background: url(../img/iconsprite.png) -150px -140px no-repeat transparent; }

		}
		.show-grid-item__info & {

			&:before {
				.svg & { background: url(../img/iconsprite.svg) -150px -99px no-repeat transparent; }
				.no-svg & {	background: url(../img/iconsprite.png) -150px -99px no-repeat transparent; }
			}

		}		

	}
}

/*--------------------*\
    MQ - DESKTOP
\*--------------------*/
@include at-breakpoint($desktop) {
	@include update-container;
	.grid {
		padding: 10px; //to allow for shadows to show;
	}
}