.grid-item {
	@include transition(width .35s ease-in-out, height .35s ease-in-out);
}

.grid-item__info-block {

	// .btn {
	// 	@include inline-block;
 //    background: $background;
 //    border: $base-measure/8 solid $dark;
	// 	height: $base-spacing;
	// 	line-height: $base-spacing;
 //    padding: $base-spacing;
 //    position: relative;
	// 	width: $base-measure*4;

	// 	&:after {
	// 		content: '';
	// 		display: block;
	// 		position: absolute;
	// 		top: 0;
	// 		left: 100%;
	// 		width: 0;
	// 		height: 0;
	// 		border-color: transparent transparent transparent $background;
	// 		border-style: solid;
	// 		border-width: $base-measure - ($base-measure/8) * 2;
	// 	}
	// 	&:before {
	// 		content: '';
	// 		display: block;
	// 		position: absolute;
	// 		top: -($base-measure/8 - ($base-measure/40));
	// 		left: 100%;
	// 		width: 0;
	// 		height: 0;
	// 		border-color: transparent transparent transparent $dark;
	// 		border-style: solid;
	// 		border-width: $base-measure - ($base-measure/8) - ($base-measure/40);
	// 		margin-left: ($base-measure/8) - ($base-measure/40);
	// 	}
	// }

}

.grid-item__expanded-content, 
.toggle {
	@include transition(width .35s ease-in-out, height .35s ease-in-out);
	height: 100%;
}

.close-project {
	font-size: .5em;
	position: absolute;
	right: 0;
	padding-right: 0px;
	padding: $base-spacing;
	padding-left: 25px;
	line-height: $base-measure + .5em;
	z-index: 6;

	&:before {
		@include transform(rotate(135deg));
		content: '';
		height: 50px;
		position: absolute;
		top: $base-spacing;
		width: 50px;
		left: 0px;
		.svg &    {	background: url(../img/iconsprite.svg) -187px 20px no-repeat transparent; }
		.no-svg & {	background: url(../img/iconsprite.png) -187px 20px no-repeat transparent; }

	}
	
}

.expanded-Proj-Nav {
	@include single-transition(background-position, .15s, ease-in);
  height: 2em;
  padding: 12px;
  right: .5em;
  text-indent: -9999em;
  width: 2em;
  z-index: 2;

	.svg & { background: url('../img/iconsprite.svg'); }
	.no-svg & { background: url('../img/iconsprite.png'); }

	&[href="#next-proj"] {
		background-position: -228px -46px;
		&:hover {
			background-position: -220px -46px;
		}
	}

	&[href="#prev-proj"] {
		background-position: -274px -46px;
		&:hover {
			background-position: -282px -46px;
		}
	}
}

.expanded-Proj-Info {
	@include single-box-shadow(fade-out(darken($background, 10%), .3), -3px, 2px, 4px);
	@include transform(rotate(45deg));
	background: $background;
	border-left: 1px solid lighten($background, 5%);
	border-bottom: 1px solid lighten($background, 5%);
	color: $dark;

	.csstransforms & { border-radius: 0 999px 0 0; }
	.svg & { background: url(../img/iconsprite.svg) no-repeat $background -9999em -9999em; }
	.no-svg & {	background: url(../img/iconsprite.png) no-repeat $background -9999em -9999em; }

	&:hover, 
	.show-grid-item__info & {
		&:hover {
			@include single-box-shadow(fade-out(darken($background, 10%), 0), -3px, 6px, 4px);
			border-left: 1px solid lighten($background, 20%);
			border-bottom: 1px solid lighten($background, 20%);
		}
	}

	.show-grid-item__info & {
		background-position: -187px 20px;
	
		&:hover { background-position: -187px -34px; }
	
	}		

}


.toggle-project-view {

	.svg &    { background: url(../img/iconsprite.svg) no-repeat; }
	.no-svg & { background: url(../img/iconsprite.png) no-repeat; }

	&[href="#all-projects"] {
		background-position: 0 0;
		
		&:hover, .is-expanded-view & {
			background-position: 0 -54px;
		}

	}

	&[href="#collapse-projects"] { 
		background-position: -46.5px -53.5px;

		.is-expanded-view & {
			background-position: -46.5px 0px;
		}

		&:hover {
			background-position: -46.5px -53.5px;
		}

	}

}

.is-thumb {
	background: $background;
	border-radius: 5px;
	border: 1px solid transparent;
	overflow: visible;
	position: relative;

	img {
		@include box-shadow(darken($background, 15%) 2px 2px 5px);
		background: $background;
		border-radius: 2px;
	}
		&:before{
			// @include box-shadow($background -3px -3px 12px inset, $background 3px 3px 10px inset);
			// @include box-shadow($background 3px 3px 10px inset);
			@include transform(translateX(0) translateY(0));
			background: url('../../img/hover-pattern.png') $accent;
			border-radius: 0 0 11px 0;
			bottom: 0;
			content: ' ';
			display: block;
			opacity: 0;
			height: 100%;
			position: absolute;
			right: 0;
			width: 100%;
			z-index: -1;
		}
}

/*--------------------*\
    MQ - MOBILE
\*--------------------*/
@include at-breakpoint($mobile) {
	@include update-container;
	opacity: 1;
}

/*--------------------*\
    MQ - TABLET
\*--------------------*/
@include at-breakpoint($tablet) {
	@include update-container;
	.expanded-Proj-Nav {
		opacity: 1;
	}
}

/*--------------------*\
    MQ - DESKTOP
\*--------------------*/
@include at-breakpoint($desktop) {
	@include update-container;
	.expanded-Proj-Nav {
		&:hover{
			opacity: 1;
		}
  }
  .grid {
  	padding: 10px; //to allow for shadows to show;
  }
}